page-finish {
  ion-item.item {
    background-color: $cl-primary-40;
    margin-bottom: $item-separation-distance;
  }
  ion-item.item:last-child {
    margin-bottom: 0
  }

  .pos-bottom-90 {
    padding-bottom: 90px;
  }

  .next-task-highlight {
    background-color: $cl-warning-20
  }

  ion-spinner * {
    margin-left: -15px;
    width: 10px;
    height: 30px;
    padding-left: 10px;
    stroke: #FFFFFF;
    fill: #fff;
    background-color: #fff;
  }

  .spinner-center {
    margin-left: 50%;
  }
}
