<div class="intro">
  <ion-item color="none" lines="none">
    <ion-icon slot="end" name="close-circle" (click)="hideIntro()"></ion-icon>
  </ion-item>
  <img
    class="icons-big"
    src="assets/imgs/radar-logo.svg"
    alt="RADAR_Base Logo"
  />
  <h1 class="questionnaire-title">
    {{ title }}
  </h1>
  <h2 class="ion-text-center">{{ introduction }}</h2>
  <div class="pos-bottom ion-padding">
    <ion-button
      ion-button
      class="bt bt--full"
      round
      full
      (click)="startQuestionnaire()"
    >
      {{ 'BTN_BEGIN' | translate }}
    </ion-button>
  </div>
</div>
