<ion-content>
  <div *ngIf="!loading">
    <ion-slides padding direction="horizontal">

      <ion-slide id="eligibility">
        <ion-item>
          <ion-icon md="md-arrow-back" item-start (click)="navigateToWelcome()"></ion-icon>
        </ion-item>

        <ion-scroll
          scrollY="true"
          class="scroll-page"
        >

          <div>
            <img
              class="logo"
              src="assets/imgs/eligibility.png"
              alias="Eligibility LOGO"
            >
          </div>
          <div class="text-md">{{ "ENROL_ELIGIBILITY_HEADING" | translate }}</div>
          <div class="center" *ngFor="let question of questions">
            <yes-or-no-option
              (valueChange)="onValueChange($event)"
              [question]="question"
            >
            </yes-or-no-option>

          </div>


        </ion-scroll>

        <div
          padding-top="5px"
          padding
          class="bottom"
        >
          <button
            ion-button
            class="bt bt--full"
            round
            full
            [disabled]="isNextButtonDisabled"
            (tap)="processEligibility()"
          >
            Next
          </button>
        </div>
      </ion-slide>

      <!--  Thank you slide, when not eligible-->

      <ion-slide id="thankyou">
        <div id="logo-container">
          <img
            id="logo"
            src="assets/imgs/home-app.png"
            alias="RADAR LOGO"
          >
        </div>
        <div class="text">
          <div class="text-lg">{{ "ENROL_ABORT_THANKYOU_1" | translate }}</div>
          <div class="text-md"> {{ "ENROL_ABORT_MESSAGE" | translate}}</div>
        </div>

        <div
          padding
          class="bottom"
        >
          <button
            ion-button
            class="bt bt--full"
            round
            full
            (tap)="navigateToWelcome()"
          >
            Finish
          </button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

<!--  loading slide-->
  <ion-slides *ngIf="loading" direction="horizontal">
    <ion-slide padding id="loadingSlide">
      <div class="position-center">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <div class="status-center">{{  "STATUS_LOADING" | translate  }}</div>
      <div class="status">
        <div id="outcome" *ngIf="showOutcomeStatus">
          {{ outcomeStatus }}
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
