page-eligibility {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  color: white;

  .icon {
    font-size: 20px;
  }

  .logo {
    height: 200px;
  }

  .logo-container {
    margin: auto;
    padding-bottom: 3vh;
    width: 120px;
  }

  .text {
    margin: auto;
    width: 90vw;
  }

  .text-justify {
    text-align: justify;
  }

  .text-lg {
    margin-bottom: 2vh;
    font-size: 40px;
  }

  .text-md {
    margin-bottom: 2vh;
    color: $cl-light;
    font-size: 20px;
  }

  .text-sm {
    margin-bottom: 2vh;
    font-size: 15px;
  }

  .text-heading {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 20px;
  }

  .consent-topic {
    @include font-body;
  }

  .scroll-page {
    height:75vh !important;
  }

  ::-webkit-scrollbar {
    width: 3px;
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $cl-light;
  }

  input[type='checkbox']:checked + label {
    background-color: $cl-primary;
  }

  label {
    border: 2px solid white;
    background-color: $cl-primary-20;
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 4px;
  }

  label:hover {
    background-color: $cl-primary;
  }

  input[type='checkbox'] {
    position: relative;
    visibility: visible;
    margin-right: 5px;
    background-color: $cl-primary;
  }

  .padding {
    margin-top: 3vh;
  }

  .extra-padding {
    margin-top: 8vh;
  }

  .status {
    position: absolute;
    bottom: 16%;
    flex: 1 0 100%;
    padding: auto;
    width: 100%;
    height: auto;
    text-align: center;
  }

  #outcome {
    padding-top: 5px;
    background-color: $cl-danger-40;
    animation: fadeIn 1s;
  }

  #loading {
    animation: fadeIn 2s infinite;
  }

  .bottom {
    position: fixed;
    bottom: 10px;
    width: 100%;
  }

  .top {
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .center {
    position:relative; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
  }

  hr {
    display: block;
    height: 0px;
    border: 2px solid $cl-light;
    margin: 1em 0;
    padding: 0;
  }

  ion-item.item {
    margin-bottom: $item-separation-distance;
  }

  .item-md.item-block .item-inner {
    border: none;
  }

  ion-item.item:last-child {
    margin-bottom: 0;
  }

  ion-item-divider.item-divider {
    background-color: $cl-primary-10;
    color: $cl-font-light;
    font-size: 2rem;
  }

  ion-slide.swiper-slide {
    align-items: flex-start;
    //padding-top: 50px;
  }

  .pos-above {
    margin-top: -50px;
  }

  .pref-info {
    padding-bottom: 100px;
  }

  #settings {
    margin-bottom: 5vh;
    padding: 2vh 0;
  }

  .reg-icon {
    margin: 2vh 0;
    height: 20vh;
  }

  .token-input {
    margin: 24px auto;
    width: 320px;
    border-bottom: 1px solid white;
  }

  .scroll-content {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  li {
    padding-bottom: 10px;
    list-style-type: decimal;
    list-style-position: outside;
  }

  .position-center {
    margin-top: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    width: 30px;
    height: 30px;
  }

  .status-center {
    margin-top: 15px;
    text-align: center;
  }

  .bt--block {
    width: 75px;
    height: 75px;
    font-size: 18px;
    line-height: 1.35em;
  }
}
