<div id="task-item" [class.task-item-name]="isTaskNameShown">
  <ion-row>
    <ion-col>
      <div class="task-info-left">
        <div class="start-time">
          {{ taskLabel }}
        </div>
        <div>
          @if (task.warning) {
            <img
              class="extra-info-icon"
              src="assets/imgs/warning.png"
            />
          }
        </div>
      </div>
      <div class="task-info-right">
        <div class="metrics">
          <div class="metric-time">
            <img
              class="icon-padding icon-xsm"
              src="assets/imgs/stopwatch.png"
            />
            {{ task.estimatedCompletionTime }}
            <span class="units">min</span>
          </div>
          <div class="metric-q">
            <img class="icon-padding icon-xsm" src="assets/imgs/nTasks.png" />
            {{ task.nQuestions }}
            <span class="units">x</span>
          </div>
        </div>
        <div class="status-div">
          @if (!task.completed) {
            <div>
              <ion-icon name="radio-button-off" class="status"></ion-icon>
            </div>
          } @else {
          <div>
            <ion-icon name="checkmark" class="status-checked"></ion-icon>
          </div>
          }
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>
