ion-label {
  --color: white;
}

ion-list {
  overflow: auto;
  max-height: 60vh;
  background-color: var(--cl-primary-20);
}
ion-item {
  pointer-events: none;
  background-color: transparent;
  --background: transparent;
  width: 100%;
  padding: 8px;
  height: var(--bt-height);
  color: white;
  font-size: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  height: inherit;
  white-space: normal;

  ion-input {
    font-weight: bold;
  }
}

.healthContainer {
  display: flex;
}
