<ion-content>
  <ion-slides pager="false">
    <!-- SLIDE 1 -->
    <ion-slide id="intro-language">
      <div class="logo-container">
        <img class="logo" src="assets/imgs/radar-logo.svg" alt="RADAR LOGO" />
      </div>
      <div class="text">
        <div class="text-lg">{{ 'ENROL_WELCOME_1' | translate }}</div>
        {{ 'ENROL_WELCOME_2' | translate }}
        <div class="padding text-justify extra-padding">
          <ion-item no-lines>
            <span class="info-value">{{ language.label | translate }}</span>
            <span item-right (tap)="showSelectLanguage()">
              <ion-icon class="space-right" name="arrow-dropdown"></ion-icon>
              {{ 'BTN_SELECT' | translate }}
            </span>
          </ion-item>
        </div>
      </div>
      <div padding class="bottom">
        <button ion-button class="bt bt--full" round full (tap)="next()">
          {{ 'BTN_START' | translate }}
        </button>
      </div>
    </ion-slide>

    <!-- SLIDE 2 -->
    <ion-slide id="intro">
      <div class="logo-container">
        <img class="logo" src="assets/imgs/radar-logo.svg" alt="RADAR LOGO" />
      </div>
      <div class="text">
        <div class="text-lg">{{ 'ENROL_WELCOME_1' | translate }}</div>
        {{ 'ENROL_WELCOME_2' | translate }}
        <div dir="auto" class="padding text-justify extra-padding">
          {{ 'ENROL_WELCOME_DESC' | translate }}
        </div>
      </div>
      <div padding class="bottom">
        <button ion-button class="bt bt--full" round full (tap)="next()">
          {{ 'BTN_ENROL_ENROL' | translate }}
        </button>
      </div>
    </ion-slide>

    <!-- SLIDE 3 -->
    <ion-slide id="qr-registration-choice">
      <div class="registration">
        <div class="text text-lg">{{ 'ENROL_REGISTRATION' | translate }}</div>
        <div dir="auto" class="text text-justify">
          {{ 'ENROL_REGISTRATION_DESC' | translate }}
        </div>
      </div>
      <div padding class="bottom">
        <p>
          <button ion-button class="bt bt--full" round full (tap)="next()">
            {{ 'BTN_ENROL_SCAN' | translate }}
          </button>
        </p>
        <p>
          <button
            ion-button
            class="bt bt--full"
            round
            full
            (tap)="enterToken()"
          >
            {{ 'BTN_ENROL_ENTER_TOKEN' | translate }}
          </button>
        </p>
      </div>
    </ion-slide>

    <!-- SLIDE 4 -->
    <ion-slide id="qr-registration">
      <div class="registration">
        <div class="text text-lg">{{ 'ENROL_REGISTRATION' | translate }}</div>
        <ng-container *ngIf="enterMetaQR">
          <token-form
            [loading]="loading"
            (data)="authenticate($event)"
            (focus)="clearStatus()"
            (errors)="handleError($event)"
          ></token-form>
        </ng-container>
        <ng-container *ngIf="!enterMetaQR">
          <qr-form [loading]="loading" (data)="authenticate($event)"></qr-form>
        </ng-container>
      </div>
      <div class="status">
        <div id="outcome" *ngIf="showOutcomeStatus">
          {{ outcomeStatus }}
        </div>
        <div id="loading" *ngIf="loading && !showOutcomeStatus">
          {{ 'STATUS_LOADING' | translate }}...
        </div>
      </div>
    </ion-slide>

    <!-- SLIDE 5 -->
    <ion-slide id="registration-complete">
      <div class="text text-lg">
        {{ 'ENROL_REGISTRATION_COMPLETE' | translate }}
      </div>
      <div class="reg-icon">
        <img src="assets/imgs/MobileAnalytics-neg.png" alt="Mobile" />
      </div>
      <div dir="auto" class="text text-justify">
        {{ 'ENROL_REGISTRATION_COMPLETE_DESC' | translate }}
      </div>

      <div padding class="bottom">
        <button
          ion-button
          class="bt bt--full"
          round
          full
          (tap)="navigateToSplash()"
        >
          {{ 'BTN_FINISH' | translate }}
        </button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
