page-enrolment {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  color: $cl-light;

  .logo {
    width: 120px;
  }

  .logo-container {
    margin: auto;
    padding-bottom: 3vh;
    width: 120px;
  }

  .text {
    margin: auto;
    width: 90vw;
  }

  .text-justify {
    text-align: justify;
  }

  .text-lg {
    margin-bottom: 2vh;
    font-size: 40px;
  }

  .padding {
    margin-top: 3vh;
  }

  .extra-padding {
    margin-top: 8vh;
  }

  .status {
    position: absolute;
    bottom: 16%;
    flex: 1 0 100%;
    padding: auto;
    width: 100%;
    height: auto;
    text-align: center;
  }

  #outcome {
    padding-top: 5px;
    background-color: $cl-danger-40;
    animation: fadeIn 1s;
  }

  #loading {
    animation: fadeIn 2s infinite;
  }

  .bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  ion-item.item {
    margin-bottom: $item-separation-distance;
    background-color: $cl-primary-40;
  }

  ion-item.item:last-child {
    margin-bottom: 0;
  }

  ion-item-divider.item-divider {
    background-color: $cl-primary-10;
    color: $cl-font-light;
    font-size: 2rem;
  }

  #settings {
    margin-bottom: 5vh;
    padding: 2vh 0;
  }

  .reg-icon {
    margin: 2vh 0;
    height: 20vh;
  }
}
