<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.radarquestionnaire403517" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>RADAR Questionnaire</name>
  <description>An application that collects active data for research.</description>
  <author email="info@radar-cns.org" href="http://radar-cns.org/">RADAR-CNS</author>

  <!--CONTENT-->
  <content src="index.html"/>
  <access origin="*"/>

  <!--INTENTS-->
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>

  <!--ICON -->
  <icon src="resources/android/icon/drawable-xhdpi-icon.png"/>

  <!--ALL PLATFORMS-->
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackgroundColor" value="0xff6d9aa5"/>
  <preference name="Orientation" value="portrait"/>

  <!--ANDROID ONLY-->
  <engine name="android" spec="~6.1.0"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <preference name="android-minSdkVersion" value="19"/>
    <preference name="AndroidLaunchMode" value="singleTop"/>
    <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="resources/android/splash/drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="resources/android/splash/drawable-land-mdpi-screen.png" density="land-mdpi"/>
    <splash src="resources/android/splash/drawable-land-hdpi-screen.png" density="land-hdpi"/>
    <splash src="resources/android/splash/drawable-land-xhdpi-screen.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/drawable-land-xxhdpi-screen.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/drawable-land-xxxhdpi-screen.png" density="land-xxxhdpi"/>
    <splash src="resources/android/splash/drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources/android/splash/drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources/android/splash/drawable-port-hdpi-screen.png" density="port-hdpi"/>
    <splash src="resources/android/splash/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
  </platform>

  <!--SPLASH SCREEN-->
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenBackgroundColor" value="0xff6d9aa5"/>
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="1000"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="SplashScreenSpinnerColor" value="0xffffffff"/>
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="SplashShowOnlyFirstTime" value="false" />

  <!--PLUGINS-->
  <plugin name="cordova-plugin-device" spec="~1.1.3"/>
  <plugin name="cordova-plugin-console" spec="~1.0.4"/>
  <plugin name="cordova-plugin-whitelist" spec="~1.3.0"/>
  <plugin name="cordova-plugin-splashscreen" spec="~4.0.0"/>
  <plugin name="cordova-plugin-statusbar" spec="~2.2.0"/>
  <plugin name="ionic-plugin-keyboard" spec="~2.2.1"/>
		<plugin name="cordova-plugin-media" spec="~3.0.0"/>
	<plugin name="cordova-plugin-android-permissions" spec="~0.11.0"/>
	<plugin name="cordova-plugin-opensmile" spec="~2.0.0"/>
</widget>
