<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="524" id="org.phidatalab.radar_armt" version="0.6.0-alpha"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>RADAR Questionnaire</name>
  <description>An application that collects active data for research.</description>
  <author email="info@radar-cns.org" href="http://radar-cns.org/">RADAR-CNS</author>
  <content src="index.html" />
  <access origin="*" />
  <access origin="*" subdomains="true" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <icon src="resources/android/icon/drawable-xhdpi-icon.png" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackgroundColor" value="0xff6d9aa5" />
  <preference name="Orientation" value="portrait" />
  <platform name="android">
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" />
    <allow-intent href="market:*" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
    <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
    <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
    <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
    <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
    <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" />
    <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" />
    <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" />
    <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" />
    <splash density="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.png" />
    <splash density="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" />
    <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" />
    <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" />
    <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" />
    <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" />
    <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" />
    <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" />
  </platform>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenBackgroundColor" value="0xff6d9aa5" />
  <preference name="FadeSplashScreen" value="true" />
  <preference name="FadeSplashScreenDuration" value="1000" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="LoadUrlTimeoutValue" value="700000" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <preference name="SplashScreenSpinnerColor" value="0xffffffff" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <allow-navigation href="*" />
  <allow-navigation href="http://10.40.189.168:8101" />
  <allow-navigation href="http://10.40.189.168:8100" />
  <allow-navigation href="http://10.40.177.195:8101" />
  <allow-navigation href="http://10.40.177.195:8100" />
  <allow-navigation href="http://10.40.140.19:8100" />
  <allow-navigation href="http://172.20.10.5:8100" />
  <allow-navigation href="http://10.41.163.140:8100" />
  <allow-navigation href="http://10.40.230.126:8100" />
  <allow-navigation href="http://10.40.149.14:8100" />
  <allow-navigation href="http://10.40.149.14:8101" />
  <allow-navigation href="http://172.20.10.5:8101" />
  <allow-navigation href="http://10.236.23.88:8100" />
  <allow-navigation href="http://172.20.20.20:8100" />
  <allow-navigation href="http://10.0.0.150:8100" />
  <allow-navigation href="http://10.35.12.253:8100" />
  <allow-navigation href="http://10.35.12.253:8101" />
  <allow-navigation href="http://169.254.164.7:8100" />
  <allow-navigation href="http://10.131.139.253:8101" />
  <allow-navigation href="http://10.131.139.253:8100" />
  <allow-navigation href="http://10.40.221.18:8101" />
  <plugin name="cordova-android-support-gradle-release" spec="^3.0.0">
    <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
  </plugin>
  <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
  <plugin name="cordova-plugin-camera" spec="^4.0.3" />
  <plugin name="cordova-plugin-device" spec="^2.0.2" />
  <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
  <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
  <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
  <plugin name="cordova-plugin-vibration" spec="^3.1.0" />
  <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
  <plugin name="cordova-sqlite-storage" spec="^3.2.0" />
  <plugin name="ionic-plugin-keyboard" spec="^2.2.1" />
  <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.3" />
  <plugin name="cordova-plugin-app-version" spec="^0.1.9" />
  <plugin name="cordova-plugin-globalization" spec="^1.11.0" />
  <plugin name="phonegap-plugin-mobile-accessibility" spec="^1.0.5" />
  <plugin name="cordova-media-with-compression" spec="^2.1.2" />
  <plugin name="cordova-plugin-file" spec="^6.0.1" />
  <plugin name="cordova-plugin-insomnia" spec="^4.3.0" />
  <plugin name="cordova-plugin-firebase-with-upstream-messaging" spec="^2.1.0" />
  <plugin name="phonegap-plugin-barcodescanner" spec="^8.0.1">
    <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
  </plugin>
  <plugin name="cordova-plugin-background-mode" spec="^0.7.2" />
  <engine name="android" spec="^7.1.4" />
</widget>
