<ion-header>
  <ion-toolbar text-center>
    <button class="logo-small" ion-button menuToggle left>
      <img class="logo-small" src="assets/imgs/homeapp-xxxhdpi-icon.png" alt="Logo"/>
    </button>
    <!--    <ion-title text-center>{{ title | async }}</ion-title>-->
    <ion-title *ngIf="selectedPage === 'home'">{{ "SURVEYS_HEADING" | translate }}</ion-title>
    <ion-title *ngIf="selectedPage === 'learn'">{{ "LEARN_HEADING" | translate }}</ion-title>
    <ion-title *ngIf="selectedPage === 'studyInfo'">{{ "STUDY_INFO_HEADING" | translate }}</ion-title>

    <button ion-button menuToggle right (tap)="openSettingsPage()">
      <ion-icon name="cog"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--  Surveys screen-->
  <div *ngIf="selectedPage === 'home'">
    <div>
      <task-list
        *ngIf="(tasks | async)?.length"
        (task)="startQuestionnaire($event)"
        [tasks]="tasks | async"
        [currentDate]="currentDate.getTime()"
      >
      </task-list>

      <!--      <task-list-->
      <!--        *ngIf="(sortedTasks | async)?.size"-->
      <!--        (task)="startQuestionnaire($event)"-->
      <!--        [tasks]="sortedTasks | async"-->
      <!--        [currentDate]="currentDate.getTime()"-->
      <!--      >-->
      <!--      </task-list>-->
    </div>

    <div
      class="size-dynamic" style="margin-top: 20%;"
      [class.hidden]="showCalendar"
      [@moveProgress]="showCalendar"
    >
      <task-progress
        *ngIf="tasksProgress | async"
        [progress]="tasksProgress | async"
        [forceComplete]="showCompleted"
        [noTasksToday]="(tasksProgress | async)?.numberOfTasks == 0"
      >
      </task-progress>
    </div>
  </div>

  <!--  Learning screen-->
  <div
    *ngIf="selectedPage === 'learn'"
    class="size-dynamic"
  >
    <page-learning>
    </page-learning>
  </div>

  <!--  Learning screen-->
  <div
    *ngIf="selectedPage === 'studyInfo'"
    class="size-dynamic"
  >
<study-info></study-info>
  </div>
</ion-content>

<ion-footer>
  <ion-segment padding [(ngModel)]="selectedPage" onchange="onFooterChange($event)">

    <ion-segment-button value="home">
      <ion-icon name="create"></ion-icon>
      <!--      <ion-title text-center>{{ "SURVEYS_HEADING" | translate }}</ion-title>-->
    </ion-segment-button>

    <ion-segment-button value="learn">
      <ion-icon name="bookmarks"></ion-icon>
      <!--      <ion-title text-center>{{ "LEARN_HEADING" | translate }}</ion-title>-->
    </ion-segment-button>

    <ion-segment-button value="studyInfo">
      <ion-icon name="school"></ion-icon>
      <!--      <ion-title text-center>{{ "SETTINGS_SETTINGS" | translate }}</ion-title>-->
    </ion-segment-button>
  </ion-segment>
</ion-footer>

