page-home {
  .scroll-content {
    display: flex;
    flex-flow: column;
  }

  .size-static {
    flex-basis: auto;
  }

  .size-dynamic {
    flex-grow: 1;
  }

  .logo {
    height: 200px;
  }

  .text-md {
    margin-bottom: 2vh;
    color: $cl-light;
    font-size: 20px;
  }

  #studyInfo {
    padding: 16px;
    //text-align: center;
  }

  ion-header .toolbar-background {
    background-color: $cl-secondary;
  }

  .toolbar-title {
    color: $cl-font;
  }

  .bar-button {
    color: $cl-font;
  }

  .icon-small-75 {
    height: 75%;
  }

  .icon-small-50 {
    height: 50%;
  }

  .logo-small {
    //position: absolute !important;
    height: 40px;
  }

  .footer {
    margin-top: 2px;
    //height: 12rem;
    //border-top: 3px solid $cl-light;
    background-color: $cl-secondary;
  }

  ion-footer .toolbar-title {
    font-size: 15px;
  }

  //ion-segment-button {
  //  min-height: 10rem;
  //}

  .segment-md .segment-button ion-icon {
    color: $cl-font;
    font-size: 4rem;
    line-height: 4rem;
  }

  .segment-md .segment-button.segment-activated {
    border-color: $cl-light;
    opacity: 1;
  }

  .notification {
    width: 99%;
  }

  .spinner-center {
    margin-left: 50%;
  }

  ion-spinner * {
    margin-left: -15px;
    padding-left: 10px;
    width: 10px;
    height: 30px;
    background-color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  .clinical-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $cl-primary-60;
  }

  .clinical-container {
    position: relative;
  }

  .clinical-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
  }

  .clinical-button-bottom {
    position: fixed;
    bottom: 3vh;
  }

  .icon-clinical {
    position: relative;
    margin-top: 9px;
    margin-left: 9px;
    width: 32px;
    height: 32px;
  }

  .hidden {
    display: none;
  }

  a {
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: $cl-light;
    font-size: 12px;
  }
}
