page-home {
  .scroll-content {
    display: flex;
    flex-flow: column;
  }

  .size-static {
    flex-basis: auto;
  }

  .size-dynamic {
    flex-grow: 1;
  }

  ion-header .toolbar-background {
    background-color: $cl-secondary;
  }

  .toolbar-title {
    color: $cl-font;
  }

  .bar-button {
    color: $cl-font;
  }

  .icon-small-75 {
    height: 75%;
  }

  .icon-small-50 {
    height: 50%;
  }

  .logo-small {
    height: 40px;
  }

  .footer {
    background-color: $cl-primary-40;
  }

  .notification {
    width: 99%;
  }

  .spinner-center {
    margin-left: 50%;
  }

  ion-spinner * {
    margin-left: -15px;
    padding-left: 10px;
    width: 10px;
    height: 30px;
    background-color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  .clinical {
    position: fixed;
    right: 20px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $cl-primary-60;
  }

  .clinical-1 {
    bottom: 34vh;
  }

  .clinical-2 {
    position: fixed;
    bottom: 3vh;
  }

  .clinical-3 {
    bottom: 8vh;
  }

  .clinical-4 {
    bottom: 20vh;
  }

  .icon-clinical {
    position: relative;
    margin-top: 9px;
    margin-left: 9px;
    width: 32px;
    height: 32px;
  }

  .hidden {
    display: none;
  }
}
