<ion-header>
  <ion-toolbar>
    <button class="logo-small" ion-button menuToggle left (tap)="showCredits()">
      <img class="logo-small" src="assets/imgs/radar-logo.svg" alt="Logo" />
    </button>
    <button ion-button menuToggle right (tap)="openSettingsPage()">
      <ion-icon name="cog"></ion-icon>
    </button>
    <ion-title text-center>{{ title | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="size-dynamic"
    [class.hidden]="showCalendar"
    [@moveProgress]="showCalendar"
  >
    <task-progress
      *ngIf="tasksProgress | async"
      [progress]="tasksProgress | async"
      [forceComplete]="showCompleted"
      [noTasksToday]="(tasksProgress | async)?.numberOfTasks == 0"
    >
    </task-progress>
  </div>

  <div class="clinical-container" (tap)="openClinicalTasksPage()">
    <div
      *ngIf="hasOnDemandTasks | async"
      class="clinical-button"
      [class.clinical-button-bottom]="showCalendar"
    >
      <div class="clinical-icon">
        <img src="{{ onDemandIcon | async }}" class="icon-clinical" />
      </div>
    </div>
  </div>

  <div class="clinical-container">
    <div
      *ngIf="hasClinicalTasks | async"
      class="clinical-button"
      (tap)="openClinicalTasksPage()"
      [class.clinical-button-bottom]="showCalendar"
    >
      <div class="clinical-icon">
        <img src="assets/imgs/clinical.png" class="icon-clinical" />
      </div>
    </div>
  </div>

  <div #tickerBar class="size-static">
    <ticker-bar
      [task]="nextTask"
      [isNow]="taskIsNow"
      [timeToNextMilli]="timeToNextTask"
      [showAffirmation]="showCompleted"
      [noTasksToday]="(tasksProgress | async)?.numberOfTasks == 0"
    ></ticker-bar>
  </div>

  <div class="size-static">
    <task-info
      *ngIf="nextTask"
      [task]="nextTask"
      [isNow]="taskIsNow"
      [progress]="tasksProgress | async"
      [expanded]="!showCalendar"
      (tap)="displayTaskCalendar()"
    ></task-info>
  </div>

  <div #taskCalendar class="taskCalendar" [@displayCalendar]="showCalendar">
    <task-calendar
      *ngIf="(sortedTasks | async)?.size"
      [show]="showCalendar"
      (task)="startQuestionnaire($event)"
      [tasks]="sortedTasks | async"
      [currentDate]="currentDate.getTime()"
    >
    </task-calendar>
  </div>

  <div class="size-static footer">
    <div *ngIf="getIsStartButtonShown() && (sortedTasks | async)?.size" padding>
      <button
        ion-button
        class="bt bt--full"
        round
        full
        (tap)="startQuestionnaire()"
      >
        {{ 'BTN_START' | translate }}
      </button>
    </div>
    <div
      *ngIf="
        getIsLoadingSpinnerShown() ||
        (!(sortedTasks | async)?.size && (tasksProgress | async)?.numberOfTasks)
      "
      class="spinner-center"
    >
      <ion-spinner name="dots"></ion-spinner>
    </div>
  </div>
</ion-content>
