<div id="task-progress-container">
  <div
    [@enterAnimation]
    class="noTasks-padding container-diary"
    *ngIf="noTasksToday"
  >
    <img
      src="assets/imgs/diary.png"
      class="icon-esm"
    >
  </div>

  <div *ngIf="!noTasksToday">
  <!--<div id="navigation">{{ "TASK_PROGRESS_TITLE" | translate }}</div>-->

    <div
      class="pyro"
      *ngIf="showFireworks"
    >
      <div class="before"></div>
      <div class="after"></div>
    </div>

    <div
      *ngIf="progress"
      id="progress"
    >
      <div
        #progressActive
        class="progress-sub"
        *ngIf="!complete"
      >
        <round-progress
          id="prog-lg"
          [current]="current"
          [max]="max"
          [responsive]="true"
          [color]="'#48459f'"
          [background]="'rgba(206,238,255,0.5)'"
          [animationDelay]="animationDelay"
          [duration]="duration"
          [stroke]="stroke"
        ></round-progress>
      </div>
      <div
        #progressComplete
        class="progress-sub"
        *ngIf="complete"
        [@enterAnimation]
      >
        <div class="completed">
          <ion-icon
            #checkmark
            class="checkmark"
            name="checkmark"
          ></ion-icon>
        </div>
      </div>
    </div>
    <div
      #counter
      class="counter"
      [@translateY]="complete"
    >
      <div class="large">{{ currentPercentage }}%</div>
      <div class="small">
        {{ "TASK_PROGRESS_COMPLETED" | translate }}
      </div>
    </div>
  </div>

</div>
