<div
  id="task-progress-container"
  (click)="easterEggFireworks()"
>

  <div
    class="noTasks-padding"
    *ngIf="noTasksToday"
  >
  </div>

  <div id="navigation">{{ "TASK_PROGRESS_TITLE" | translate }}</div>

  <div
    class="pyro"
    *ngIf="showFireworks"
  >
    <div class="before"></div>
    <div class="after"></div>
  </div>

  <div id="progress">
    <div
      #progressActive
      class="progress-sub"
    >
      <round-progress
        id="prog-lg"
        [current]="currentPercentage"
        [max]="max"
        [responsive]="true"
        [color]="'#48459f'"
        [background]="'rgba(206,238,255,0.5)'"
        [animation]="animation"
        [stroke]="stroke"
      ></round-progress>
    </div>
    <div *ngIf="complete">
      <div
        #progressComplete
        class="progress-sub"
      >
        <div class="completed">
          <ion-icon
            #checkmark
            class="checkmark"
            name="checkmark"
          ></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!noTasksToday">
    <div
      #counter
      class="counter"
    >
      <div class="large">{{ current }}</div>
      <div class="small">
        {{ "TASK_PROGRESS_COMPLETED" | translate }}
      </div>
    </div>
  </div>

</div>
