<div id="task-progress-container">
  @if (noTasksToday) {
  <div
    [@enterAnimation]
    class="noTasks-padding container-diary"
  >
    <img src="assets/imgs/diary.png" class="icon-esm" />
  </div>
  } @else {
    <div>
      <div id="navigation">{{ 'TASK_PROGRESS_TITLE' | translate }}</div>
      @if ( progress ) {
      <div id="progress">
        @if (!complete) {
        <div #progressActive class="progress-sub">
          <round-progress
            id="prog-lg"
            [current]="current"
            [max]="max"
            [responsive]="true"
            [color]="'#7fcdbb'"
            [background]="'rgba(255,255,204,0.12)'"
            [animationDelay]="animationDelay"
            [duration]="duration"
            [stroke]="stroke"
          ></round-progress>
        </div>
        } @else {
        <div
          #progressComplete
          class="progress-sub"
          [@enterAnimation]
        >
          <div class="completed">
            <ion-icon #checkmark class="checkmark" name="checkmark"></ion-icon>
          </div>
        </div>
        }
      </div>
      }
      <div #counter class="counter" [@translateY]="complete">
        <div class="large">{{ current }}</div>
        <div class="small">
          {{ 'TASK_PROGRESS_COMPLETED' | translate }}
        </div>
      </div>
    </div>
  }
</div>
