page-report {
  .toolbar-background {
    background-color: $cl-secondary;
  }

  .toolbar-title {
    color: $cl-font;
  }

  .bar-button {
    color: $cl-font;
  }

  .item {
    margin-bottom: $item-separation-distance;
    background-color: $cl-primary-40 !important;
  }

  .item:last-child {
    margin-bottom: 0;
  }

  .item:hover {
    background-color: $cl-primary !important;
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    background: white !important;
  }

  .report-card {
    height: 80%;
    background-color: $cl-primary-40;
    //margin-left: 5%;
    //margin-right: 5%;
  }

  .report-dates {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
  }

  .report-line {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .report-content {
    height: 80%;
  }

  .report-chart {
    margin: auto;
    width: 80%;
  }

  .report-message {
    height: 60%;
  }

  .line {
    display: inline-block;
    margin-top: -6px;
    margin-bottom: 10px;
    width: 40%;
    background-color: white;
    font-size: 1px;
    line-height: 1px;
  }

  .report-summary-text {
    color: $cl-light-80;
    font-style: italic;
    font-size: 20px;
  }

  .slide-zoom {
    height: 100%;
  }
}
