<div
  id="task-info-container"
  *ngIf="displayTask"
>

  <div
    class="non-warn-padding"
    *ngIf="!hasExtraInfo && !expanded"
  >
  </div>

  <div class="info">
    <div
      id="questionnaire-progress"
      [@moveInProgress]="expanded"
    >
      <ng-container *ngIf="!expanded">
        <round-progress
          id="prog-sm"
          [current]="current"
          [max]="max"
          [radius]="radius"
          [color]="'#7fcdbb'"
          [background]="'rgba(255,255,204,0.12)'"
          [stroke]="stroke"
          [clockwise]="true"
        ></round-progress>
        <div id="questionnaire-counter">{{ current }}</div>
      </ng-container>
    </div>
    <div
      id="questionnaire-metrics"
      [@alignCenterRightMetrics]="expanded"
    >
      <img
        class="icon-padding icon-sm"
        src="assets/imgs/nTasks.png"
      >
      {{ task.nQuestions }}
      <span class="units">x</span>
      <br>
      <img
        class="icon-padding icon-sm"
        src="assets/imgs/stopwatch.png"
      >
      {{ task.estimatedCompletionTime }}
      <span class="units">min</span>
    </div>
    <div id="questionnaire-time">
      <div
        class="text-md"
        *ngIf="isNow"
        [@alignCenterRightTime]="expanded"
      >
        {{ "STATUS_NOW" | translate }}
      </div>
      <div
        *ngIf="!isNow"
        [class.time-expanded]="!expanded"
      >
        <div class="text-lg">
          <span *ngIf="task.name !=='ESM'">{{ getHour() }}</span>
          <span *ngIf="task.name ==='ESM'">
            {{ "TASK_BAR_NEXT_TASK_SOON" | translate }}
          </span>
        </div>
        <div
          class="text-sm"
          [@scaleMinutes]="expanded"
        >
          <div *ngIf="task.name !=='ESM'">: {{ getMinutes() }}</div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="hasExtraInfo"
    class="extra-info"
    [@alignCenterRightExtraInfo]="expanded"
  >
    <img
      class="icon-padding extra-info-icon"
      src="assets/imgs/warning.png"
    >
    {{ getExtraInfo() }}
  </div>

</div>
