task-info {
  #task-info-container {
    overflow: hidden;
    margin-bottom: 2px;
    padding: 8px 16px;
    background-color: $cl-primary-40;
    font-size: 22px;
  }

  .units {
    font-size: 0.7em;
  }

  #questionnaire-progress {
    float: left;
    margin-right: -80px;
  }

  #questionnaire-counter {
    margin-top: -54px;
    text-align: center;
    font-size: 1.5em;
  }

  #questionnaire-metrics {
    float: left;
    margin: auto;
    margin-right: 64px;
  }

  .right-info {
    margin-top: 12px;
    width: 100%;
  }

  #questionnaire-time {
    float: right;
  }

  .time-expanded {
    margin-right: -64px;
  }

  .text-md {
    float: left;
    font-size: 2.5em;
  }

  .extra-info {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
  }

  .extra-info-icon {
    height: 1.5vh;
  }

  .icon-padding {
    padding-right: 5px;
  }

  .icon-sm {
    height: 18px;
  }

  ion-icon {
    padding-top: 8px;
    font-size: 1em;
  }

  .meridiem {
    margin-top: 24px;
    margin-left: -8px;
    font-size: 2.5vh;
  }

  .time {
    float: left;
  }

  .time-colon {
    margin-right: -16px;
  }
}
