<div id="task-info-container">

  <div
    class="non-warn-padding"
    *ngIf="!task.warning && !expanded"
  >
  </div>

  <div class="info">
    <div
      id="questionnaire-progress"
      [@moveInProgress]="expanded"
    >
      <ng-container *ngIf="!expanded">
        <round-progress
          id="prog-sm"
          [current]="current"
          [max]="max"
          [radius]="radius"
          [color]="'#7fcdbb'"
          [background]="'rgba(255,255,204,0.12)'"
          [stroke]="stroke"
          [clockwise]="true"
        ></round-progress>
        <div id="questionnaire-counter">{{ current }}</div>
      </ng-container>
    </div>
    <div
      id="questionnaire-metrics"
      [@alignCenterRightMetrics]="expanded"
    >
      <img
        class="icon-padding icon-sm"
        src="assets/imgs/nTasks.png"
      >
      {{ task.nQuestions }}
      <span class="units">x</span>
      <br>
      <img
        class="icon-padding icon-sm"
        src="assets/imgs/stopwatch.png"
      >
      {{ task.estimatedCompletionTime }}
      <span class="units">min</span>
    </div>
    <div id="questionnaire-time">
      <div *ngIf="isNow">
        <span
          class="text-md"
          [@alignCenterRightTime]="expanded"
        >
          {{ "STATUS_NOW" | translate }}
        </span>
      </div>
      <div *ngIf="!isNow">
        <div *ngIf="task.name ==='ESM'">
          <span
            class="text-md"
            [@alignCenterRightTime]="expanded"
          >
            {{ "TASK_BAR_NEXT_TASK_SOON" | translate }}
          </span>
        </div>
        <div [class.time-expanded]="!expanded">
          <div
            class="time"
            *ngIf="task.name !=='ESM'"
          >
            <span class="text-md">{{ getHour() }}</span>
            <span
              class="text-md"
              [class.min-merid]="!expanded"
              [@scaleMinutes]="expanded"
            >
              :{{ getMinutes() }}
              <span [class.meridiem]="expanded">{{ getMeridiem() }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="task.warning"
    class="extra-info"
    [@alignCenterRightExtraInfo]="expanded"
  >
    <img
      class="extra-info-icon"
      src="assets/imgs/warning.png"
    >
    {{  task.warning }}
  </div>

</div>
