task-info {
  #task-info-container {
    margin-bottom: 2px;
    padding: 7px 15px;
    background-color: $cl-primary-40;
    font-size: 22px;
  }

  .info {
    overflow: hidden;
    padding-bottom: 5px;
  }

  .units {
    font-size: 15px;
  }

  #questionnaire-progress {
    position: relative;
    float: left;
  }

  #questionnaire-counter {
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 10vw;
  }

  .counter-extra-info {
    left: 30%;
  }

  .counter {
    left: 35%;
  }

  #questionnaire-metrics {
    float: left;
    padding: auto;
  }

  #questionnaire-time {
    float: right;
  }

  .time-expanded {
    margin-right: -12vw;
  }

  .time {
    margin-right: -5vw;
  }

  .text-lg {
    float: left;
    margin-top: -7px;
    font-size: 14vw;
  }

  .text-md {
    float: left;
    margin-top: -2vw;
    font-size: 14vw;
  }

  .text-sm {
    float: left;
    margin-top: -7px;
    font-size: 14vw;
  }

  .non-warn-padding {
    padding-bottom: 12px;
    width: 32px;
    height: 12px;
  }

  .extra-info {
    margin-top: -12px;
    margin-left: 20%;
    text-align: center;
    font-size: 2vh;
  }

  .extra-info-icon {
    height: 1.5vh;
  }

  .icon-padding {
    padding-right: 5px;
  }

  .icon-sm {
    height: 18px;
  }

  .meridiem {
    margin-top: 6px;
    margin-left: -4vw;
    writing-mode: vertical-rl;
    font-size: 2.5vh;
    text-orientation: upright;
  }

  .min-merid {
    margin-top: -5vw;
    margin-bottom: -14vw;
    width: 30vw;
  }
}
