<div id="task-info-container">
  <div
    id="questionnaire-progress"
    [@moveInProgress]="expanded"
  >
    <ng-container *ngIf="!expanded">
      <round-progress
        [current]="current"
        [max]="max"
        [radius]="radius"
        [color]="'#48459f'"
        [background]="'rgba(206,238,255,0.5)'"
        [stroke]="stroke"
        [clockwise]="true"
      ></round-progress>
      <div id="questionnaire-counter">{{ current }}</div>
    </ng-container>
  </div>
  <div class="right-info">
    <div
      id="questionnaire-metrics"
      [@alignCenterRightMetrics]="expanded"
    >
      <img
        class="icon-padding icon-sm"
        src="assets/imgs/nTasks.png"
      >
      {{ task.nQuestions }}
      <span class="units">x</span>
      <br>
      <img
        class="icon-padding icon-sm"
        src="assets/imgs/stopwatch.png"
      >
      {{ task.estimatedCompletionTime }}
      <span class="units">min</span>
    </div>
    <div
      id="questionnaire-time"
      [class.status-collapsed]="!expanded"
      [@scaleStatus]="expanded"
      #status
    >
      <span
        [fittext]="true"
        [maxFontSize]="60"
        [container]="status"
        [modelToWatch]="statusChanges"
        class="text-md"
      >
        {{ nextTaskStatus }}
      </span>
    </div>
    <div id="questionnaire-time">
      <div
        *ngIf="!isNow && task.name !=='ESM'"
        class="text-md"
      >
        <div
          class="time-container"
          [@moveHour]="expanded"
        >
          {{ getHour() }}
        </div>
        <div
          class="time-container"
          [@scaleMinutes]="expanded"
        >
          <span
            class="time-colon"
            [@fade]="expanded"
          >
            :
          </span>
          <span>{{ getMinutes() }}</span>
        </div>
        <div
          [@rotateMeridiem]="expanded"
          class="time-container meridiem"
        >
          {{ getMeridiem() }}
        </div>

      </div>
    </div>
  </div>

  <div
    *ngIf="task.warning"
    class="extra-info"
    [@alignCenterRightExtraInfo]="expanded"
  >

    <img
      class="extra-info-icon"
      src="assets/imgs/warning.png"
    >
    {{  task.warning }}
  </div>
</div>
