<div>
  <ion-content
    [scrollY]="true"
    class="layers"
    [style.height.vh]="show ? 100 : 0"
  >
    @if (tasks) {
      @for (sortedTasks of tasks | keyvalue; track sortedTasks.key) {
        @if (sortedTasks.key === currentDate) {
          <div class="date ion-padding">
            {{ 'TASK_CALENDAR_TITLE' | translate }}
          </div>
        } @else {
          <div class="date ion-padding">
            {{ sortedTasks.key / 1000 | amFromUnix | amDateFormat: 'MMM D' }}
          </div>
        }
        @for (task of sortedTasks.value; track task.id; let i = $index) {
          @if (i == timeIndex && sortedTasks.key == currentDate) {
          <div
            class="current-time-div"
          >
            <div id="time-current">
              <ion-row>
                <ion-col>
                  <div class="time-current-division left"></div>
                </ion-col>
                <ion-col col-auto class="time-current">
                  {{ currentTime }}
                </ion-col>
                <ion-col>
                  <div class="time-current-division right"></div>
                </ion-col>
              </ion-row>
            </div>
          </div>
          }
          @if (task.showInCalendar) {
            <app-task-calendar-row
              [task]="task"
              (click)="clicked(task)"
              [isTaskNameShown]="isTaskNameShown"
            ></app-task-calendar-row>
          }
        }
        @if (timeIndex === -1 && sortedTasks.key == currentDate) {
        <div
          class="current-time-div"
        >
          <div id="time-current">
            <ion-row>
              <ion-col>
                <div class="time-current-division left"></div>
              </ion-col>
              <ion-col col-auto class="time-current">
                {{ currentTime }}
              </ion-col>
              <ion-col>
                <div class="time-current-division right"></div>
              </ion-col>
            </ion-row>
          </div>
        </div>
        }
      }
    }
  </ion-content>
</div>
