.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.value-number {
  color: var(--cl-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.35em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  width: 128px;
  height: var(--label-height);
  border-radius: var(--cl-radius-pill);
  background-color: var(--cl-primary-20);
}

ion-label {
  padding-bottom: 0;
  color: var(--cl-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.35em;
}

.padding {
  margin: -10px 5px;
  font-size: 80%;
  color: var(--cl-font-light);
}

.labelLeft {
  float: left;
  width: 48%;
}

.labelRight {
  float: right;
  width: 48%;
  text-align: right;
}
