<ion-content>
  <div *ngIf="!loading">
    <ion-slides padding>

      <ion-slide id="consent-form">
        <ion-item>
          <ion-icon md="md-arrow-back" item-start (click)="navigateToEligibility()"></ion-icon>
        </ion-item>

        <ion-scroll
          scrollY="true"
          class="scroll-page"
        >
          <div>
            <img
              id="logo"
              src="assets/imgs/new-logo.png"
              alias="RADAR LOGO"
            >
          </div>
          <div class="text-md">{{ "CONSENT_TITLE" | translate }}</div>

          <div>

            <div class="text-sm">Please review the information below before you agree to participate in this study.</div>
            <ion-item-group>

              <page-consent-item
                title="Time Commitment"
                md="md-alarm"
                consentDetailText="CONSENT_TIME_COMMITMENT_DETAILS"
              >
              </page-consent-item>

              <page-consent-item
                title="Protecting Your Privacy"
                md="md-lock"
                consentDetailText="CONSENT_PRIVACY_POLICY_DETAILS"
              >
              </page-consent-item>

              <page-consent-item
                title="Data Collection and Use"
                md="md-analytics"
                consentDetailText="CONSENT_WITHDRAWAL_DETAILS"
              >
              </page-consent-item>

              <page-consent-item
                title="Benefits in Participating"
                md="md-chatbubbles"
                consentDetailText="CONSENT_CONTACT_YOU_DETAILS"
              >
              </page-consent-item>

              <page-consent-item
                title="Findings of the Study"
                md="md-school"
                consentDetailText="CONSENT_CONTACT_YOU_DETAILS"
              >
              </page-consent-item>

              <page-consent-item
                title="Disadvantages or Risks in Participating"
                md="md-warning"
                consentDetailText="CONSENT_CONTACT_YOU_DETAILS"
              >
              </page-consent-item>

              <page-consent-item
                title="Data Protection Privacy Notice"
                md="md-paper"
                consentDetailText="CONSENT_CONTACT_YOU_DETAILS"
              >
              </page-consent-item>

              <page-consent-item
                title="Follow up"
                md="md-mail"
                consentDetailText="CONSENT_CONTACT_YOU_DETAILS"
              >
              </page-consent-item>
              <page-consent-item
                title="Withdrawing"
                md="md-unlock"
                consentDetailText="CONSENT_CONTACT_YOU_DETAILS"
              >
              </page-consent-item>

            </ion-item-group>
          </div>


          <div padding-top="5px">
            <div class="center" *ngFor="let question of questions">
              <yes-or-no-option
                (valueChange)="onValueChange($event)"
                [question]="question"
              >
              </yes-or-no-option>

            </div>

          </div>

        </ion-scroll>

        <div
          padding-top="5px"
          padding
          class="bottom"
        >
          <button
            ion-button
            class="bt bt--full"
            round
            full
            [disabled]="isSubmitConsentDisabled"
            (tap)="processConsent()"
          >
            Submit Consent
          </button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-slides *ngIf="loading" direction="horizontal">

    <ion-slide padding id="loadingSlide">
      <div class="position-center">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <div class="status-center">{{  "STATUS_LOADING" | translate  }}</div>
      <div class="status">
        <div id="outcome" *ngIf="showOutcomeStatus">
          {{ outcomeStatus }}
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
