radio-input {
  display: block;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  ul li {
    display: flex;
    align-content: stretch;
    margin-bottom: 12px;
  }

  ul li:last-child {
    border: none;
  }

  ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
  }

  ul li label {
    @include button-round;

    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
  }

  ul li:hover label {
    background-color: $cl-secondary;
  }

  input[type=radio]:checked + label {
    background-color: $cl-primary;
  }
}

