.audio-bottom {
  bottom: 240px;
  margin-bottom: 40px;
  width: 100%;
}

.audio-container {
  overflow: hidden;
  width: inherit;
  height: inherit !important;
}

.bt-stop {
  background-color: var(--cl-danger-40);
  border-radius: var(--border-radius);
}

.center-col {
  text-align: center;
}

.info-card {
  overflow: auto;
  margin-top: 16px;
  padding: 10px;
  height: 88%;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: var(--cl-primary-10);
}

.info-card h2 {
  color: var(--ion-font);
  font-size: 16px;
}

ion-grid {
  height: 100% !important;
}

.content-row {
  height: 85%;
}
