page-splash {
  ion-spinner * {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    width: 10px;
    height: 30px;
    background-color: $cl-light;
    fill: $cl-light;
    stroke: $cl-light;
  }

  .position-center {
    margin-top: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    width: 30px;
    height: 30px;
  }

  .status-center {
    margin-top: 15px;
    text-align: center;
  }
}
