.ory-img {
  margin: auto;
  padding-top: 3vh;
  width: 170px;
}

.form {
  margin-bottom: 96px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  position: fixed;
  bottom: 184px;
  width: 100%;
}

.bt--full {
  width: 96%;
}

.padding-top {
  padding-top: 3vh;
}

.portal {
  transition: all 0.2s ease-in-out;
  height: 30vh;
}

ion-input {
  padding: 12px;
  padding-top: 16px;
  border: 2px solid var(--cl-border);
  border-radius: var(--cl-radius-sm);
  background-color: var(--cl-surface);
  color: var(--cl-font);

  &:focus-within {
    border-color: var(--cl-primary);
  }
}
