<div class="form">
  <div dir="auto" class="text text-justify">
    {{ 'ENROL_REGISTRATION_ORY_DESC' | translate }}
  </div>
  <div class="qr-code">
    <img class="portal" src="assets/imgs/paprka.png">
  </div>
  <div class="mid padding-top">
    {{ 'ENROL_REGISTRATION_STUDY_DESC' | translate }}
    <br><br>
    <ion-item class="input" color="transparent">
      <ion-input [(ngModel)]="studyId" [required]="true" type="text" placeholder="" [clearOnEdit]="true"
        (ionFocus)="hideButton('true')" (ionBlur)="hideButton('false')"
        (keyup)="onKeyboardEvent($event.key)"></ion-input>
    </ion-item>
    <br>
  </div>
</div>
<div class="ion-padding bottom" *ngIf="!loading && !buttonHidden">
  <ion-button ion-button class="bt bt--full" round full (click)="loginWithOry()">
    {{ 'BTN_ENROL_KRATOS' | translate }}
  </ion-button>
</div>