page-splash {
  ion-spinner * {
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    height: 30px;
    padding-left: 10px;
    stroke: #FFFFFF;
    fill: #fff;
    background-color: #fff;
  }

  .position-center {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80%;
  }

  .status-center {
    margin-top: 15px;
    text-align: center;
  }
}
