footer-navbar {
  ion-footer .toolbar-title {
    font-size: 15px;
  }

  ion-segment-button {
    min-height: 10rem;
  }

  .segment-md .segment-button ion-icon {
    font-size: 4rem;
    line-height: 4rem;
    color: $cl-font;
  }

  ion-header .toolbar-background {
    background-color: $cl-secondary;
  }

  .toolbar-title {
    color: $cl-font;
  }

  .footer {
    margin-top: 2px;
    height: 12rem;
    border-top: 3px solid $cl-light;
  }
}
