<ion-footer>
  <ion-segment padding >

    <ion-segment-button value="Survey" (ionSelect)="openSurveysPage()">
      <ion-icon name="create"></ion-icon>
      <ion-title text-center>{{ "SURVEYS_HEADING" | translate }}</ion-title>
    </ion-segment-button>

    <ion-segment-button value="Learn" (ionSelect)="openLearnPage()">
      <ion-icon name="book"></ion-icon>
      <ion-title text-center>{{ "LEARN_HEADING" | translate }}</ion-title>
    </ion-segment-button>

    <ion-segment-button value="Settings"  (ionSelect)="openSettingsPage()">
      <ion-icon name="cog"></ion-icon>
      <ion-title text-center>{{ "SETTINGS_SETTINGS" | translate }}</ion-title>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
