<ion-item (click)="showDetail = !showDetail">
  <ion-icon
    [md]="currentItem.iconMd"
    item-start>
  </ion-icon>
  <ion-label class="text-heading"> {{currentItem.title}}</ion-label>
  <ion-icon
    md="md-arrow-down"
    *ngIf="!showDetail"
    item-end>
  </ion-icon>
  <ion-icon
    md="md-arrow-up"
    *ngIf="showDetail"
    item-end></ion-icon>
</ion-item>

<!--Add line for each text-->
<ion-row *ngIf="showDetail">
  <div *ngFor="let detail of currentItem.detail">
    <div  class="detail text-justify" [innerHTML]="detail"></div>
  </div>
</ion-row>
