range-info-input {
  overflow: hidden;

  range-input {
    margin-bottom: 24px;
  }

  .info-card {
    overflow: auto;
    padding: 10px;
    max-height: 60%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: $cl-primary-20;
  }

  h2 {
    @include font-body;
  }
}
