range-info-input {
  display: block;
  width: 100%;

  range-input {
    margin-bottom: 32px;
  }

  .info-card {
    position: fixed;
    overflow: scroll;
    margin: 8px;
    margin-right: 16px;
    padding: 10px 10px 0;
    width: 88%;
    height: 48vh;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: $cl-primary-20;
  }

  h2 {
    @include font-body;
  }
}
