page-home {
  .scroll-content {
    display: flex;
    flex-flow: column;
  }

  .size-static {
    flex-basis: auto;
  }

  .size-dynamic {
    flex-grow: 1;
    transition: transform 0.4s ease-in-out;
  }

  .size-null {
    bottom: 90px;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  ion-header .toolbar-background {
    background-color: $cl-secondary;
  }

  .toolbar-title {
    color: $cl-font;
  }

  .bar-button {
    color: $cl-font;
  }

  .icon-small-75 {
    height: 75%;
  }

  .icon-small-50 {
    height: 50%;
  }

  .logo-small {
    height: 40px;
  }

  .footer {
    margin-top: 2px;
    background-color: $cl-primary-40;
  }

  .notification {
    width: 99%;
  }

  .spinner-center {
    margin-left: 50%;
  }

  ion-spinner * {
    margin-left: -15px;
    padding-left: 10px;
    width: 10px;
    height: 30px;
    background-color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  .clinical-1 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $cl-primary-60;
  }

  .clinical-2 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $cl-primary;
  }

  .clinical-3 {
    position: absolute;
    right: 20px;
    bottom: 55px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $cl-primary-60;
  }

  .icon-clinical {
    position: relative;
    margin-top: 9px;
    margin-left: 9px;
    width: 32px;
    height: 32px;
  }

  .icon-esm {
    width: 80%;
  }

  .container-esm {
    margin-top: 50px;
    margin-left: 16%;
  }
}
