page-home {

  .scroll-content {
    display: flex;
    flex-flow: column;

  }

  ion-header .toolbar-background {
      background-color: $cl-secondary;
  }
  .toolbar-title {
      color: $cl-font;
  }
  .bar-button {
      color: $cl-font;
  }
  ion-footer .toolbar-background {
      background-color: $cl-secondary-light;
  }

  ion-item.item {
      padding: 0;
  }
  ion-label.label {
      margin: 0;
  }

  .flex-col-1 {
    flex: 1;
    overflow: auto;
  }

  .upcoming-group {
      .col {
          &:first-child:not(:last-child) {
          padding-right: 0;
          .button {
              -webkit-border-radius: 30px 0 0 30px;
              border-radius: 30px 0 0 30px;
              background-color: $cl-primary;
              min-width: 110px;
              .span {
                  font-size: 18px;
              }
          }
          }
          &:not(:first-child):not(:last-child) {
          padding-right: 0;
          padding-left: 0;
          .button {
              border-radius: 0;
              background-color: $cl-secondary;
              .span {
                  font-size: 18px;
              }
          }
          }
          &:last-child:not(:first-child) {
          padding-left: 0;
          .button {
              -webkit-border-radius: 0 30px 30px 0;
              border-radius: 0 30px 30px 0;
              background-color: $cl-secondary;
              .span {
                  font-size: 18px;
              }
          }
          }
      }
  }
  .upcoming-count {
      font-size: 18px;
  }
  .message-next-task {
      background-color: $cl-light-10;
      h2 {
          padding: 10px;
      }
  }
  .checkmark {
      font-size: 40px;
      padding-left: 10px;
      color: $cl-light-10;
  }

  .checked {
      color: $cl-checkmark;
  }

  .count-today {
      float: right;
  }

  .icon-small-75 {
    height: 75%;
  }
  .icon-small-50 {
    height: 50%;
  }
  .logo-small {
    height: 40px
  }
}
