app-launcher {
  .app-launcher-container {
    overflow: hidden;
    width: inherit;
    height: inherit !important;
  }

  button {
    left: -50%;
  }

  .info-card {
    overflow: auto;
    margin-top: 16px;
    padding: 10px;
    max-height: 68%;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: $cl-primary-10;
  }

  .info-card h2 {
    @include font-body;
  }
}
