@import '../../../theme/mixins';

// Application
ion-app.md,
ion-content {
  background-color: var(--cl-bg);
  --background: var(--cl-bg);
}

body {
  background-color: var(--cl-bg);
}

.icons-big {
  width: 30%;
}

// Buttons
.bt {
  margin: 0;
  box-shadow: none;

  &--full {
    @include button-round;
  }

  &.activated {
    box-shadow: none;
  }
}

// Fonts
h1 {
  @include font-title;
  margin: 1em 8px;
}

h2 {
  @include font-large;
  margin: 1em 8px;
}

h3 {
  color: var(--cl-font);
  font-size: 15px;
  font-weight: 600;
}

h4 {
  color: var(--cl-font-light);
  font-size: 13px;
  font-weight: 500;
}

h5 {
  color: var(--cl-font-light);
  font-size: 12px;
}

h6 {
  color: var(--cl-font-light);
  font-size: 11px;
}

p {
  @include font-body;
  margin: 1em 8px;
}

// Utils
.fill {
  flex-grow: 1;
}

.pos-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.button-inner {
  height: 5%;
}

.alert-wrapper {
  border-radius: var(--cl-radius) !important;
  box-shadow: var(--cl-shadow-md);
}

.card-md {
  padding: 4px;
  border-radius: var(--cl-radius) !important;
  border: 1px solid var(--cl-border);
}
