audio-input {
  display: block;
  width: 100%;

  .audio-card {
    margin: 8px;
    padding: 10px 10px 0;
    height: 80%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: $cl-primary-20;
  }

  .audio-heading {
    color: $cl-light-60;
  }

  .audio-content {
    height: 80%;
  }
}
