<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="on-demand">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>On-demand</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>