page-settings {
  ion-header .toolbar-background {
      background-color: $cl-secondary;
  }
  .toolbar-title {
      color: $cl-font;
  }
  .bar-button {
      color: $cl-font;
  }
  ion-footer .toolbar-background {
      background-color: $cl-danger-60;
  }
  .info-value {
    font-weight: bold;
  }
  .space-right {
    padding-right: 0.3em;
  }
}
