ion-card {
  margin: auto;
  margin-top: 30vh;
  width: 80%;
  background-color: var(--ion-color-light);
  --background: var(--ion-color-light);
  color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
}

.header {
  color: var(--ion-color-primary);
}

.success {
  color: var(--toggle-md-track-background-color-on);
  font-size: 48px;
}

.error {
  color: var(--cl-danger);
  font-size: 48px;
}

.center {
  display: block;
  padding: 8px;
  text-align: center;
}

li {
  overflow-x: scroll;
  padding: 4px;
  white-space: nowrap;
  font-size: 12px;
}

button {
  background: none;
}

ion-label {
  font-size: 16px;
}

ion-list {
  color: gray;
}

.scroll-error {
  overflow-y: auto;
  height: 32%;
}

.scroll-success {
  padding: 16px;
  height: 8%;
}

ion-grid {
  margin: -16px;
}

.done-btn {
  color: var(--ion-color-primary);
  text-transform: uppercase;
  font-size: 16px;
}
