.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  display: none;
}

.inner {
  mask-image: radial-gradient(
    circle at 50% 50%,
    black 30%,
    rgba(0, 0, 0, 0.1) 70%
  );
}

.bg {
  border-radius: 28px;
  background-color: var(--cl-primary-40);
}

.col {
  width: fit-content;
  margin: 8px;
}

.picker-opts {
  overflow: scroll;
  width: fit-content;
  height: 120px;
  font-size: 20px;
  scroll-snap-type: y mandatory;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-note {
  color: var(--cl-secondary-light) !important;
  font-size: 10px;
}

.label {
  margin-bottom: 2px;
  text-align: center;
}
