<div id="task-info-container" (click)="expand()" *ngIf="displayTask">

  <div class="info">
    <div id="questionnaire-progress" [@moveInProgress]="animateMove" *ngIf="!expanded">
      <round-progress [current]="current" [max]="max" [radius]="radius" [stroke]="stroke"></round-progress>
      <div id="questionnaire-counter">
        {{current}}
      </div>
    </div>
    <div id="questionnaire-metrics" [@alignCenterRightMetrics]="animateCenterRight">
      <img class="icon-padding icon-sm" src="assets/imgs/nTasks.png"/>{{task.nQuestions}}<span class="units">x</span>
      <br>
      <img class="icon-padding icon-sm" src="assets/imgs/stopwatch.png"/>{{task.estimatedCompletionTime}}<span class="units">min</span>
    </div>
    <div id="questionnaire-time" [@alignCenterRightTime]="animateCenterRight">
      <div id="hour">
        {{ getHour() }}
      </div>
      <div id="minutes" [@scaleMinutes]="animateScale">
        <span [@fade]="animateFade">:</span>{{ getMinutes() }}
      </div>
    </div>
  </div>

  <div class="extra-info" *ngIf="hasExtraInfo" [@alignCenterRightExtraInfo]="animateCenterRight">
    <img class="icon-padding extra-info-icon" src="assets/imgs/warning.png"/>{{getExtraInfo()}}
  </div>

</div>
