// MIXINS
@mixin font-body() {
  color: var(--ion-font);
  font-size: 16px;
}

@mixin font-body-strong() {
  @include font-body;

  font-weight: bold;
}

@mixin font-body-light() {
  @include font-body;

  color: var(--cl-font-light);
}

@mixin font-small() {
  color: var(--cl-font-light);
  font-size: 12px;
}

@mixin font-large() {
  color: var(--ion-font);
  font-size: 18px;
  line-height: 1.35em;
}

@mixin font-title() {
  color: var(--ion-font);
  font-size: 20px;
}

@mixin button-round() {
  @include font-large;

  padding: 8px 32px;
  height: var(--bt-height);
  border: 2px solid white;
  border-radius: var(--bt-height);
  background-color: var(--cl-primary-20);
}
