// Application Globals

// COLORS
$cl-base: #0b4a59;
$cl-light: #6d9aa5;
$cl-lighter: #9bb5bc;

// Transparent Base
$cl-base-10: rgba(#0b4a59, 0.1);
$cl-base-20: rgba(#0b4a59, 0.2);
$cl-base-40: rgba(#0b4a59, 0.4);
$cl-base-60: rgba(#0b4a59, 0.6);
$cl-base-80: rgba(#0b4a59, 0.8);

// Font
$cl-font: white;
$cl-font-light: rgba(white, 0.8);

// Transparent whites
$cl-white-10: rgba(white, 0.1);
$cl-white-20: rgba(white, 0.2);
$cl-white-40: rgba(white, 0.4);
$cl-white-60: rgba(white, 0.6);
$cl-white-80: rgba(white, 0.8);

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

@import 'ionic.globals';

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$font-family-md-base: 'Montserrat', sans-serif;
$text-color: $cl-font;
$background-color: transparent;
$button-md-text-transform: none;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: $cl-base,
  secondary: $cl-white-80,
  danger:     #f53d3d,
  light: #fff,
  dark:       #222
);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import 'ionic.theme.default';

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
$ionicons-font-path: '../assets/fonts';

@import 'ionicons';
