// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

@import 'ionic.globals';

// Main Map : map_get($colors, light)
$colors: (
  primary: #ceeeff,
  secondary: #f4f4f4,
  secondary-light: #fbfffd,
  danger: #f53d3d,
  success: #3fc380,
  warning: #ff8,
  tertiary: #7fcdbb,
  light: #312d90,
  dark: #222
);

// Main Colors // Shortcut
$cl-primary: map_get($colors, primary);
$cl-secondary: map_get($colors, secondary);
$cl-secondary-light: map_get($colors, secondary-light);

// Transparent Base
$cl-primary-10: rgba(map_get($colors, primary), 0.1);
$cl-primary-20: rgba(map_get($colors, primary), 0.2);
$cl-primary-40: rgba(map_get($colors, primary), 0.4);
$cl-primary-60: rgba(map_get($colors, primary), 0.6);
$cl-primary-80: rgba(map_get($colors, primary), 0.8);

// Transparent whites
$cl-light: map_get($colors, light);
$cl-light-10: rgba(map_get($colors, light), 0.1);
$cl-light-20: rgba(map_get($colors, light), 0.2);
$cl-light-40: rgba(map_get($colors, light), 0.4);
$cl-light-60: rgba(map_get($colors, light), 0.6);
$cl-light-80: rgba(map_get($colors, light), 0.8);

// Provoking colours
$cl-danger: map_get($colors, danger);
$cl-danger-10: rgba(map_get($colors, danger), 0.1);
$cl-danger-20: rgba(map_get($colors, danger), 0.2);
$cl-danger-40: rgba(map_get($colors, danger), 0.4);
$cl-danger-60: rgba(map_get($colors, danger), 0.6);
$cl-danger-80: rgba(map_get($colors, danger), 0.8);
$cl-warning: map_get($colors, warning);
$cl-warning-10: rgba(map_get($colors, warning), 0.1);
$cl-warning-20: rgba(map_get($colors, warning), 0.2);
$cl-warning-40: rgba(map_get($colors, warning), 0.4);
$cl-warning-60: rgba(map_get($colors, warning), 0.6);
$cl-warning-80: rgba(map_get($colors, warning), 0.8);

// Checkmark
$cl-checkmark: #9ad1c3;

// Font
$cl-font: $cl-light;
$cl-font-light: $cl-light-20;

// App Globals
$bt-height: 56px;
$label-height: 40px;
$item-separation-distance: 0.1em;

// Ionic Overrides
$font-family-md-base: 'Avant Garde', 'Avantgarde', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
$text-color: $cl-font;
$background-color: transparent;
$button-md-text-transform: none;
$toggle-md-track-background-color-off: $cl-light-80;
$toggle-md-track-background-color-on: map_get($colors, success);
$toggle-md-handle-background-color-off: $cl-light;
$toggle-md-handle-background-color-on: $cl-light;
$alert-md-head-text-align: center;
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import 'ionic.theme.default';

.alert-title {
  color: $cl-light;
}

.alert-button {
  color: $cl-light !important;
}
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
$ionicons-font-path: '../assets/fonts';

@import 'ionicons';
