
<div>

  <div padding>
    <div class="text-medium" > {{ "TODO_LIST_TITLE" | translate }}</div>
    <div class="text-sm"> {{ "TODO_SELECT_INFO" | translate }}</div>
    <div class="text-sm"> {{ "TODO_TIME_ESTIMATE_NOTICE" | translate }}</div>
  </div>

  <div id="task-container">
      <ion-scroll scrollX style="height:150px;" *ngIf="(tasks | async) !== null">
        <div class="scroll-item">
          <ion-col col-33 *ngFor="let task of (tasks | async); let i=index">
            <div *ngIf="!task.completed" class="card" (click)="clicked(task)">
              <ion-icon [name]="task.iconInfo"></ion-icon>
              <div class="text-medium"> {{ task.name }}</div>
            </div>
          </ion-col>
        </div>

        <div *ngIf="(tasks | async ) === null">
          <div class="text-heading" > {{ "NO_SURVEYS_AVAILABLE" | translate }}</div>
        </div>
      </ion-scroll>
  </div>
</div>
