task-list {
  ion-scroll[scrollX] {
    white-space: nowrap;
    //border-top: 3px solid $cl-light;
    //border-bottom: 3px solid $cl-light;

    .scroll-item {
      display: inline;
    }
  }

  ion-item {
    border-bottom: 2px solid $cl-light;
  }

  ion-icon {
    color: $cl-light;
    align-content: center;
    font-size: 50px;
  }

  #task-container {
    margin: 0 auto;
  }

  .card {
    transition: box-shadow 0.3s;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 1rem;
    padding: 5px;
    width: 85px;
    top: 20px;
    height: 80px;
    border-radius: 10px;
    background-color: $cl-primary-20;
  }

  .card:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  }

  hr {
    display: block;
    height: 0px;
    border: 2px solid $cl-light;
    margin: 1em 0;
    padding: 0;
  }

  .text {
    margin: auto;
    width: 90vw;
  }

  .text-medium {
    position: relative;
    font-size: 18px;
  }

  .text-justify {
    text-align: justify;
  }

  .text-heading {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 20px;
  }
}
