timed-test {
  display: flex;
  width: 100%;

  .test-card {
    margin: 8px;
    padding: 10px;
    max-height: calc(94% - 88px);
    width: inherit;
    height: calc(95vh - 184px);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: $cl-primary-20;
    text-align: center;
  }

  ion-content {
    background: none;
  }

  .heading {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
  }

  .timer {
    margin: 10px;
    color: white;
    font-size: 140px;
  }
}
