ion-slide.swiper-slide {
  align-items: flex-start;
}

ion-slide {
  overflow-x: hidden !important;
  padding: 24px 24px 0;
}

ion-slides {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.slide-flex {
  flex: 1;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.matrixGroup {
  display: flex;
  flex-direction: column;
  overflow: auto;
}