<ion-content>
  <ion-slides>
    <ion-slide *ngIf="showIntroductionScreen">
      <introduction
        [title]="questionTitle"
        [introduction]="introduction"
        (start)="handleIntro($event)"
      ></introduction>
    </ion-slide>
    <ion-slide *ngFor="let question of questions; let i = index">
      <question
        [question]="question"
        [questionIndex]="i"
        [currentIndex]="currentQuestionId"
        (answer)="onAnswer($event)"
      ></question>
    </ion-slide>
    <ion-slide>
      <finish
        [content]="endText"
        [displayNextTaskReminder]="isLastTask"
        [isClinicalTask]="isClinicalTask"
        [showDoneButton]="showDoneButton"
        (exit)="handleFinish($event)"
      ></finish>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer *ngIf="!showIntroductionScreen && !showFinishScreen">
  <toolbar
    (next)="nextQuestion()"
    (previous)="previousQuestion()"
    (close)="exitQuestionnaire()"
    (finish)="navigateToFinishPage()"
    [isLeftButtonDisabled]="isLeftButtonDisabled"
    [isRightButtonDisabled]="isRightButtonDisabled"
    [currentQuestionId]="currentQuestionId"
    [totalQuestions]="questions?.length"
  ></toolbar>
</ion-footer>
