<ion-content>
  <ion-slides>
    <ion-slide *ngIf="showIntroductionScreen">
      <introduction
        [title]="questionTitle"
        [introduction]="introduction"
        (hide)="hideIntro(true)"
        (start)="handleStart()"
      ></introduction>
    </ion-slide>
    <ion-slide *ngFor="let question of questions; let i = index">
      <question
        [question]="question"
        [questionIndex]="i"
        [currentIndex]="currentQuestion"
        (answer)="onAnswer($event)"
      ></question>
    </ion-slide>
    <ion-slide>
      <finish
        [content]="endText"
        [displayNextTaskReminder]="isLastTask"
        [isClinicalTask]="task ? task.isClinical : false"
        [showDoneButton]="showDoneButton"
        (exit)="handleFinish($event)"
      ></finish>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer *ngIf="!showIntroductionScreen && !showFinishScreen">
  <toolbar
    (next)="nextQuestion()"
    (previous)="previousQuestion()"
    [isPreviousButtonDisabled]="isPreviousButtonDisabled"
    [isNextButtonDisabled]="isNextButtonDisabled"
    [currentQuestion]="currentQuestion"
    [totalQuestions]="questions?.length"
  ></toolbar>
</ion-footer>
