<ion-content [scrollY]="false" class="ion-padding-top">
  <div class="wrapper">
    <div class="slide-flex">
      <swiper-container #swiper>
        <swiper-slide *ngIf="showIntroductionScreen" class="center">
          <introduction
            [title]="questionTitle"
            [introduction]="introduction"
            (start)="handleIntro($event)"
          ></introduction>
        </swiper-slide>
        <ng-container *ngIf="!showIntroductionScreen">
          <swiper-slide
            *ngFor="
              let item of groupedQuestions | keyvalue : asIsOrder;
              let i = index
            "
          >
            <div
              class="q-container"
              *ngFor="let question of item.value; let j = index"
            >
              <question
                *ngIf="
                  i >= currentQuestionGroupId - 10 &&
                  i <= currentQuestionGroupId + 10 &&
                  currentQuestionIndices.includes(j)
                "
                [question]="question"
                [questionIndex]="i"
                [task]="task"
                [currentIndex]="currentQuestionGroupId"
                [isSectionHeaderHidden]="j != currentQuestionIndices[0]"
                [isMatrix]="item.value.length > 1"
                (answer)="onAnswer($event)"
                (nextAction)="nextAction($event)"
              ></question>
            </div>
          </swiper-slide>
        </ng-container>
        <swiper-slide class="center">
          <finish
            *ngIf="showFinishScreen && !showFinishAndLaunchScreen"
            [content]="endText"
            [isLastTask]="isLastTask"
            [requiresInClinicCompletion]="requiresInClinicCompletion"
            [taskType]="taskType"
            [showDoneButton]="showDoneButton"
            [isShown]="showFinishScreen"
            [questions]="questions"
            [task]="task"
            (exit)="handleFinish($event)"
          ></finish>
          <finish-and-launch
            *ngIf="showFinishScreen && showFinishAndLaunchScreen"
            [externalApp]="externalApp"
            [task]="task"
            [content]="endText"
            [isLastTask]="isLastTask"
            [requiresInClinicCompletion]="requiresInClinicCompletion"
            [taskType]="taskType"
            [showDoneButton]="showDoneButton"
            [isShown]="showFinishScreen"
            (exit)="handleFinish($event)"
          ></finish-and-launch>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</ion-content>

<ion-footer [class.hidden]="showIntroductionScreen || showFinishScreen">
  <toolbar
    (next)="nextQuestion()"
    (previous)="previousQuestion()"
    (close)="exitQuestionnaire()"
    (finish)="navigateToFinishPage()"
    (tappedDisabledButton)="showDisabledButtonAlert()"
    [isLeftButtonDisabled]="isLeftButtonDisabled"
    [isRightButtonDisabled]="isRightButtonDisabled"
    [currentQuestionId]="currentQuestionGroupId"
    [totalQuestions]="groupedQuestions?.size"
    [isProgressCountShown]="showProgressCount | async"
  ></toolbar>
</ion-footer>
