<form id="tokenForm" [formGroup]="metaQRForm" (ngSubmit)="submitForm()">
  <div class="form">
    <div dir="auto" class="text text-justify">
      {{ 'ENROL_REGISTRATION_TOKEN_DESC' | translate }}
    </div>
    <ion-item class="input">
      <ion-input
        required
        formControlName="baseURL"
        type="url"
        placeholder="Base URL"
        (ionFocus)="onFocus()"
      ></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-input
        required
        formControlName="tokenName"
        type="text"
        placeholder="Token"
        (ionFocus)="onFocus()"
        clearOnEdit="true"
      ></ion-input>
    </ion-item>
  </div>
  <div class="bottom" padding *ngIf="!loading">
    <button
      form="tokenForm"
      ion-button
      class="bt bt--full"
      round
      full
      type="submit"
    >
      {{ 'BTN_SUBMIT' | translate }}
    </button>
  </div>
</form>
