token-form {
  ion-input {
    margin: 24px auto;
    width: 320px;
    border-bottom: 1px solid white;
  }

  .form {
    margin-bottom: 96px;
  }

  .bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
