ion-header .toolbar-background {
  --background: var(--ion-color-secondary);
}

ion-toolbar {
  --background: var(--ion-color-secondary);
}

ion-toolbar > ion-button {
  --border-width: 0 !important;
  --background: transparent;
  --padding-start: 12px;
  --padding-end: 12px;
}

ion-title {
  margin: -4px;
}

.date {
  font-size: 20px;
}

.layers {
  position: relative;
  padding-top: 40px;
}

#time-current {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.time-current-division {
  margin-top: 10px;
  width: 100%;
  height: 2px;
  background-color: var(--cl-warning);
}

.time-current-division.left {
  margin-left: -5px;
}

.time-current-division.right {
  margin-left: 5px;
}

.time-current {
  color: var(--cl-light-80);
  text-align: center;
  font-size: 18px;
}

#task-item {
  display: block;
  margin-bottom: 3px;
  padding: 3px 9px;
  padding-bottom: 0;
  background-color: var(--cl-primary-40);
  text-align: center;
  font-size: 18px;
}

.units {
  font-size: 12px;
}

.icon-padding {
  padding-right: 5px;
  padding-left: 5px;
}

.icon-xsm {
  height: 14px;
}

ion-icon {
  color: white;
}

.task-info-left {
  float: left;
}

.task-info-right {
  float: right;
}

.metrics {
  float: left;
  width: 64px;
  white-space: nowrap;
}

.status-div {
  float: right;
  padding-left: 10px;
}
