<ion-header>
  <ion-navbar>
    <ion-title>{{ 'CLINICAL_TASKS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-scroll scrollY="true" class="layers" [style.height.px]="scrollHeight">
    <div *ngFor="let a of assessments; let i = index">
      <div id="task-item" (tap)="clicked(a)">
        <ion-row>
          <ion-col>
            <div class="task-info-left">{{ a.name }}</div>
            <div class="task-info-right">
              <div class="metrics">
                <img
                  class="icon-padding icon-xsm"
                  src="assets/imgs/stopwatch.png"
                />
                {{ a.estimatedCompletionTime }}
                <span class="units">min</span>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-scroll>
</ion-content>
