<ion-content [fullscreen]="true" class="ion-padding-top ion-padding">

  <div class="header-section">
    <h2>Healthkit Data Collection</h2>
    <p class="status-message" [innerHTML]="statusMessage">
    </p>
  </div>

  <ion-card *ngIf="isDataProcessing || dataProcessingComplete || hasProcessingError">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="analytics" *ngIf="!hasProcessingError"></ion-icon>
        <ion-icon name="alert-circle" color="danger" *ngIf="hasProcessingError"></ion-icon>
        Processing Status
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="progress-container">
        <ion-progress-bar [value]="currentProgress / 100"
          [color]="hasProcessingError ? 'danger' : (dataProcessingComplete ? 'success' : 'primary')">
        </ion-progress-bar>
        <div class="progress-text">
          <span class="progress-percentage">{{ currentProgress }}%</span>
        </div>

        <div class="progress-details" *ngIf="progressMessage">
          <div class="progress-status" [innerHTML]="progressMessage"></div>
        </div>
      </div>

      <div class="processing-status" *ngIf="isDataProcessing">
        <ion-spinner name="lines" color="primary"></ion-spinner>
        <span>Processing health data...</span>
      </div>

      <div class="error-status" *ngIf="hasProcessingError">
        <ion-icon name="alert-circle" color="danger" size="large"></ion-icon>
        <span>An error occurred during processing</span>
      </div>
    </ion-card-content>
  </ion-card>


  <div class="action-buttons">
    <ion-button ion-button class="bt bt--full" round full *ngIf="canStartProcessing" expand="block" size="large"
      color="primary" (click)="startHealthDataCollection()">
      Tap to Start Data Pull
    </ion-button>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button ion-button slot="start" icon-left (click)="exitQuestionnaire()">
      <ion-icon name="close"></ion-icon>
      <div class="toolbar-label">Exit</div>
    </ion-button>
  </ion-toolbar>
</ion-footer>