page-questions {
  .questions-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  question {
    flex: 1 0 100vw;
    padding: 16px;
    height: 100%;
  }

  .toolbar {
    display: flex;
    align-content: center;
    justify-content: center;

    button,
    button:hover:not(.disable-hover) {
      @include font-body;

      &.disabled,
      &.disabled:hover {
        color: $cl-light-40;
      }
    }

    .icon {
      font-size: 32px;
    }
  }

  .toolbar-background {
    background-color: $cl-secondary;
  }

  .toolbar-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $cl-primary-20;

    #{&}__bar {
      height: 100%;
      background-color: $cl-primary-20;
    }
  }
}
