<ion-toolbar>
  <div class="toolbar-progress">
    <div class="toolbar-progress-bar" [style.width]="progress + '%'"></div>
  </div>

  @if (isProgressCountShown) {
    <ion-title class="ion-text-center" color="light">
      {{ currentQuestionId + 1 + '/' + totalQuestions }}
    </ion-title>
  }

  <ion-button
    ion-button
    slot="start"
    icon-left
    [class.disabled]="isLeftButtonDisabled"
    (click)="leftButtonHandler()"
  >
    <ion-icon [name]="iconPrevious"></ion-icon>
    <div class="toolbar-label">{{ leftButtonText }}</div>
  </ion-button>
  <ion-button
    mode="ios"
    ion-button
    slot="end"
    icon-right
    [class.disabled]="isRightButtonDisabled"
    (click)="rightButtonHandler()"
  >
    <div class="toolbar-label">{{ rightButtonText }}</div>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-toolbar>
