toolbar {
  .toolbar {
    display: flex;
    align-content: center;
    justify-content: center;

    button {
      @include font-body;

      &.disabled,
      &.disabled:hover {
        color: $cl-light-40;
      }
    }

    .icon {
      font-size: 24px;
    }
  }

  .toolbar-label {
    height: 12px;
  }

  .toolbar-background {
    background-color: $cl-secondary;
  }

  .toolbar-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $cl-secondary-light;
  }

  .toolbar-progress-bar {
    height: 100%;
    background-color: $cl-primary-60;
  }
}
