<ion-toolbar>
  <div class="toolbar-progress">
    <div class="toolbar-progress-bar" [style.width]="progress + '%'"></div>
  </div>
  <ion-buttons left>
    <button
      ion-button
      left
      icon-left
      [class.disabled]="isLeftButtonDisabled"
      (tap)="leftButtonHandler()"
    >
      <ion-icon [name]="iconPrevious"></ion-icon>
      <div class="toolbar-label">{{ leftButtonText }}</div>
    </button>
  </ion-buttons>
  <ion-buttons right>
    <button
      ion-button
      right
      icon-right
      [class.disabled]="isRightButtonDisabled"
      (tap)="rightButtonHandler()"
    >
      <div class="toolbar-label">{{ rightButtonText }}</div>
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
