ticker-bar {
  #ticker-bar-container {
    display: flex;
    margin-bottom: 2px;
    padding: 7px 0;
    background-color: $cl-primary-40;
    font-size: 18px;
  }

  #report {
    color: map_get($colors, warning);
  }

  .ticker-item {
    margin: auto;
    white-space: nowrap;
    transition: transform 0.8s ease-in-out;
  }

  .bold {
    font-weight: bold;
  }
}
