ion-label {
  color: white !important;
  word-wrap: break-word !important;
  white-space: normal !important;
}

ion-list {
  --background: transparent !important;
  background-color: transparent;
}

ion-radio-group {
  --background: transparent;
  background-color: transparent;
  align-content: center;
}

.item-radio-checked {
  background-color: var(--cl-primary) !important;
}

.radio-icon {
  display: none !important;
  margin: 0;
}

.input-wrapper {
  margin: 0 -20px -12px 0;
}

ion-item {
  background-color: transparent;
  --background: transparent;
  width: 100%;
  padding: 8px;
  height: var(--bt-height);
  border: 2px solid white;
  border-radius: var(--bt-height);
  background-color: var(--cl-primary-20);
  color: white;
  font-size: 18px;
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  height: inherit;
  white-space: normal;
  margin-bottom: 16px;
  --ripple-color: transparent;
  --background-hover: none;
}

ion-radio {
  --color: transparent;
  --color-checked: transparent;
  width: 0;
}
