radio-input {
  display: block;
  margin-left: -5px;
  width: 100%;

  ion-label {
    color: $cl-light !important;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  li {
    padding: 0;
  }

  ul li {
    display: flex;
    align-content: stretch;
  }

  ul li:last-child {
    border: none;
  }

  ul li ion-radio {
    position: absolute;
  }

  ul li ion-label {
    @include button-round;

    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 24px;
    height: inherit;
    white-space: normal;
  }

  .item-radio-checked ion-label {
    background-color: $cl-primary !important;
  }

  .radio-icon {
    display: none !important;
    margin: 0;
  }

  .input-wrapper {
    margin: 0 -20px -12px 0;
  }
}
