checkbox-input {
  display: block;
  margin-left: -5px;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 115%;
    list-style: none;
  }

  ul li {
    display: flex;
    align-content: stretch;
  }

  ul li ion-label {
    @include button-round;

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 24px;
    height: inherit;
    white-space: normal;
  }

  .checked {
    background-color: $cl-primary !important;
  }

  .checkbox-icon {
    display: none !important;
    margin: 0;
  }

  ion-item {
    margin: 0 0 -12px -40px !important;
  }
}
