task-progress {
  #task-progress-container {
    display: block;
    padding: 15px 0 30px 0;
    font-size: 24px;
  }

  #navigation {
    text-align: center;
    padding: 15px 0 20px 0;
  }

  #progress {
    width: 240px;
    margin: auto;
    display: flex;
  }

  .progress-sub {
    flex: 1 0 100vw;
    transition: transform 0.8s ease-in-out;
  }

  .completed {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-color: map-get($colors, tertiary);
  }

  .checkmark {
    font-size: 220px;
    padding-left: 35px;
    transition: transform 0.8s ease-in;
  }

  .counter {
    text-align: center;
    margin-top: -135px;
    transition: transform 0.4s ease-in-out;
  }

  .large {
    font-size: 100px;
    line-height: 2px
  }

  .small {
    margin-top: -20px;
    font-size: 18px;
  }

}
