task-progress {
  // Create the explosion...
  $particles: 50;
  $width: 500;
  $height: 500;

  $box-shadow: ();
  $box-shadow2: ();

  @for $i from 0 through $particles {
    $box-shadow: $box-shadow, random($width) - $width / 2 + px,
      random($height) - $height / 1.2 + px, hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff;
  }

  @mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }

    @-moz-keyframes #{$animationName} {
      @content;
    }

    @-o-keyframes #{$animationName} {
      @content;
    }

    @-ms-keyframes #{$animationName} {
      @content;
    }

    @keyframes #{$animationName} {
      @content;
    }
  }

  @mixin animation-delay($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
  }

  @mixin animation-duration($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
  }

  @mixin animation($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
  }

  @mixin transform($settings) {
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
    transform: $settings;
  }

  @include keyframes(bang) {
    to {
      box-shadow: $box-shadow;
    }
  }

  @include keyframes(gravity) {
    to {
      @include transform(translateY(350px));

      opacity: 0;
    }
  }

  @include keyframes(position) {
    0%,
    19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }

    20%,
    39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }

    40%,
    59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }

    60%,
    79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }

    80%,
    99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }

  .pyro > .before,
  .pyro > .after {
    @include animation(
      (
        1s bang ease-out infinite backwards,
        1s gravity ease-in infinite backwards,
        5s position linear infinite backwards
      )
    );

    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
  }

  #task-progress-container {
    display: block;
    padding: 15px 0 30px;
    font-size: 24px;
  }

  #navigation {
    padding: 15px 0 20px;
    text-align: center;
  }

  #progress {
    display: flex;
    margin: auto;
    width: 60vw;
  }

  .noTasks-padding {
    height: 15vh;
  }

  .progress-sub {
    flex: 1 0 60vw;
    transition: transform 0.8s ease-in-out;
  }

  .completed {
    width: 60vw;
    height: 60vw;
    border-radius: 100%;
    background-color: map-get($colors, tertiary);
  }

  .checkmark {
    @media screen and (max-width: 320px) {
      margin-top: -5vw;
      padding-left: 6vw;
      font-size: 200px;
    }

    margin-top: 0;
    padding-left: 10vw;
    font-size: 220px;
    transition: transform 0.8s ease-in;
  }

  .counter {
    margin-top: -34vw;
    text-align: center;
    transition: transform 0.4s ease-in-out;
  }

  .large {
    font-size: 100px;
    line-height: 2px;
  }

  .small {
    margin-top: -20px;
    font-size: 18px;
  }
}
