<div *ngIf="question.type === 'info' || question.type === 'timed';then taskformat else stdformat"></div>
<ng-template #stdformat>
  <p class="stdformat">{{question.lead}}</p>
  <h2 class="stdformat">{{question.content}}</h2>
</ng-template>
<ng-template #taskformat>
  <p class="taskformat">{{question.lead}}</p>
  <h2 class="taskformat">{{question.content}}</h2>
</ng-template>

<div *ngIf="question.type === 'radio'">
  <radio-input
    [responses]="question.responses"
    (valueChange)="onValueChange($event)">
  </radio-input>
</div>

<div *ngIf="question.type === 'range'">
  <range-input
    [min]="question.range.min"
    [max]="question.range.max"
    (valueChange)="onValueChange($event)">
  </range-input>
</div>

<div *ngIf="question.type === 'slider'">
  <slider-input
    [min]="question.range.min"
    [max]="question.range.max"
    [step]="question.range.step"
    (valueChange)="onValueChange($event)">
  </slider-input>
</div>

<div *ngIf="question.type === 'info'">
  <info-screen
    [sections]="question.sections"
    (valueChange)="onValueChange($event)">
  </info-screen>
</div>

<div *ngIf="question.type === 'timed'">
  <timed-test
    [heading]="question.heading"
    [image]="question.image"
    [timer]="question.timer"
    [currentlyShown]="currentlyShown"
    (valueChange)="onValueChange($event)">
  </timed-test>
</div>
