task-calendar {

  $timeSlotHeight: 50px;

  .date {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  .layers {
    position: relative;
  }

  #time-current {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 0;
  }

  #time-slots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
  }

  .time-slot {
    height: $timeSlotHeight;
  }

  .time-slot-division {
    width: 100%;
    height: 1px;
    margin-bottom: $timeSlotHeight/2-1px;
    background-color: $cl-light;
  }

  .pos-time {
    margin-top: -4px;
  }

  .time-current-division {
    width: 100%;
    height: 2px;
    margin-top: 8px;
    background-color: $cl-warning;
  }

  .time-current {
    color: $cl-warning;
    font-weight: bold;
  }
}
