question {
  text-align: left;

  p {
    margin-top: 8px;
    margin-bottom: 0;
    color: $cl-light-80;
  }

  h2 {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .field-container {
    max-height: 56vh !important;
  }

  .rangeformat {
    height: 30vh;
  }

  .fade {
    display: block;
    opacity: 0.2;
    pointer-events: none;
  }
}
