question {
  text-align: initial;

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: initial;
  }

  p {
    margin-top: 8px;
    margin-bottom: 0;
    color: $cl-light-80;
  }

  h2 {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .field-container {
    max-height: 50vh !important;
  }

  .rangeformat {
    height: 30vh;
  }

  .fade {
    opacity: 0.2;
    pointer-events: none;
  }

  .header {
    flex-grow: 0;
  }

  .input {
    flex-grow: 1;
    overflow: hidden;
    padding: 4px;
  }

  .input-scroll {
    overflow-y: auto !important;
    mask-image:
      linear-gradient(to top, transparent 3%, black 7%),
      linear-gradient(to bottom, transparent 0%, black 7%);
    mask-size: 100% 50%, 100% 51%;
    mask-position: bottom, top;
    mask-repeat: no-repeat, no-repeat;
  }

  .spinner-container {
    text-align: center;
  }
}
