question {
  text-align: initial;

  .content {
    display: flex;
    flex-direction: column;
    height: 96%;
    text-align: initial;
  }

  p {
    margin-top: 8px;
    margin-bottom: 0;
    color: $cl-light-80;
  }

  h2 {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .field-container {
    max-height: 50vh !important;
  }

  .rangeformat {
    height: 30vh;
  }

  .fade {
    opacity: 0.2;
    pointer-events: none;
  }

  .header {
    flex-grow: 0;
  }

  .input {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4px;
  }
}
