<div
  class="content"
  #content
  [class.fade]="!currentlyShown"
  [class.content-matrix]="isMatrix"
>
  <div class="header" dir="auto">
    @if (!isSectionHeaderHidden) {
      <p>{{ question.section_header }}</p>
    }

    @if (!isFieldLabelHidden) {
      <div
        class="field-container"
        [class.field-container-matrix]="isMatrix"
        dir="auto"
      >
        <h2 dir="auto">
          {{ question.field_label }}
        </h2>
      </div>
    }
  </div>
  <div
    #input
    class="input"
    [class.input-scroll]="isScrollable"
    (scroll)="onScroll($event)"
  >
    @if (isLoading) {
      <div class="spinner-container">
        <ion-spinner name="dots" color="light"></ion-spinner>
      </div>
    }
    @if (!isLoading && inputEl) {
    <div
      [style.height.px]="
        isAutoHeight
          ? 'auto'
          : inputEl.nativeElement.offsetParent.offsetHeight -
            inputEl.nativeElement.previousSibling.offsetHeight -
            margin
      "
    >
      @switch (question.field_type) {
        @case ('radio') {
          <app-radio-input
            [responses]="question.select_choices_or_calculations"
            (valueChange)="emitAnswer($event)"
          >
          </app-radio-input>
        }

        @case ('checkbox') {
          <app-checkbox-input
            [responses]="question.select_choices_or_calculations"
            (valueChange)="emitAnswer($event)"
          >
          </app-checkbox-input>
        }

        @case ('healthkit') {
          <app-health-input
            [responses]="question.select_choices_or_calculations"
            [health_question]="question"
            [currentlyShown]="currentlyShown"
            [refTimestamp]="task.timestamp"
            (valueChange)="emitAnswer($event)"
          >
          </app-health-input>
        }

        @case ('range') {
          <app-range-input
            [min]="question.range.min"
            [max]="question.range.max"
            [labelLeft]="question.range.labelLeft"
            [labelRight]="question.range.labelRight"
            (valueChange)="emitAnswer($event)"
          >
          </app-range-input>
        }

        @case ('range-info') {
          <app-range-info-input
            [min]="question.range.min"
            [max]="question.range.max"
            [responses]="question.select_choices_or_calculations"
            (valueChange)="emitAnswer($event)"
          >
          </app-range-info-input>
        }

        @case ('slider') {
          <app-slider-input
            [min]="question.range.min"
            [max]="question.range.max"
            [step]="question.range.step"
            [labelLeft]="question.range.labelLeft"
            [labelRight]="question.range.labelRight"
            (valueChange)="emitAnswer($event)"
          >
          </app-slider-input>
        }

        @case ('info') {
          <app-info-screen
            [sections]="question.select_choices_or_calculations"
            [hasFieldLabel]="question.field_label.length > 0"
            [image]="question.field_annotation?.image"
            (valueChange)="emitAnswer($event)"
            [currentlyShown]="currentlyShown"
          >
          </app-info-screen>
        }

        @case ('audio') {
          <app-audio-input
            [text]="question.field_label"
            [currentlyShown]="currentlyShown"
            (valueChange)="emitAnswer($event)"
            (onRecordStart)="onAudioRecordStart($event)"
          >
          </app-audio-input>
        }

        @case ('timed') {
          <app-timed-test
            [image]="question.field_annotation.image"
            [timer]="question.field_annotation.timer"
            [currentlyShown]="currentlyShown"
            (valueChange)="emitAnswer($event)"
          >
          </app-timed-test>
        }

        @case ('text') {
          <app-text-input
            (valueChange)="emitAnswer($event)"
            (keyboardEvent)="onKeyboardEvent($event)"
            [type]="question.text_validation_type_or_show_slider_number"
            [currentlyShown]="currentlyShown"
          ></app-text-input>
        }

        @case ('yesno') {
          <app-radio-input
            [responses]="defaultYesNoResponse"
            (valueChange)="emitAnswer($event)"
          >
          </app-radio-input>
        }

        @case ('descriptive') {
          <app-descriptive-input
            [text]="question.field_label"
            (valueChange)="emitAnswer($event)"
            [currentlyShown]="currentlyShown"
          >
          </app-descriptive-input>
        }

        @case ('matrix-radio') {
          <app-matrix-radio-input
            [responses]="question.select_choices_or_calculations"
            [currentlyShown]="currentlyShown"
            [previouslyShown]="previouslyShown"
            (valueChange)="emitAnswer($event)"
          >
          </app-matrix-radio-input>
        }

        @case ('web') {
          <app-web-input
            [text]="question.field_label"
            (valueChange)="emitAnswer($event)"
            [currentlyShown]="currentlyShown"
            [type]="question.field_annotation"
          >
          </app-web-input>
        }

        @case ('notes') {
          <app-notes-input
            (valueChange)="emitAnswer($event)"
            (keyboardEvent)="onKeyboardEvent($event)"
            [currentlyShown]="currentlyShown"
          ></app-notes-input>
        }
      }
    </div>
    }
  </div>

  @if (showScrollButton) {
    <div class="arrow-icon" (click)="scrollDown()">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>
  }
</div>
