<div class="content" [class.fade]="!currentlyShown">
  <div class="header">
    <p>{{ question.section_header }}</p>
    <div *ngIf="!isFieldLabelHidden" class="field-container" dir="auto">
      <h2
        dir="auto"
        [fittext]="true"
        [maxFontSize]="18"
        [modelToWatch]="question"
      >
        {{ question.field_label }}
      </h2>
    </div>
  </div>
  <div #input class="input" [class.input-scroll]="isScrollable">
    <div
      [style.height.px]="
        input.offsetParent.offsetHeight -
        input.previousSibling.offsetHeight -
        margin
      "
      [ngSwitch]="question.field_type"
    >
      <ng-container *ngIf="isLoading">
        <div class="spinner-container">
          <ion-spinner name="dots" color="light"></ion-spinner>
        </div>
      </ng-container>
      <ng-container *ngIf="!isLoading">
        <radio-input
          *ngSwitchCase="'radio'"
          [responses]="question.select_choices_or_calculations"
          (valueChange)="onValueChange($event)"
        >
        </radio-input>

        <checkbox-input
          *ngSwitchCase="'checkbox'"
          [responses]="question.select_choices_or_calculations"
          (valueChange)="onValueChange($event)"
        >
        </checkbox-input>

        <range-input
          *ngSwitchCase="'range'"
          [min]="question.range.min"
          [max]="question.range.max"
          [labelLeft]="question.range.labelLeft"
          [labelRight]="question.range.labelRight"
          (valueChange)="onValueChange($event)"
        >
        </range-input>

        <range-info-input
          *ngSwitchCase="'range-info'"
          [min]="question.range.min"
          [max]="question.range.max"
          [responses]="question.select_choices_or_calculations"
          (valueChange)="onValueChange($event)"
        >
        </range-info-input>

        <slider-input
          *ngSwitchCase="'slider'"
          [min]="question.range.min"
          [max]="question.range.max"
          [step]="question.range.step"
          (valueChange)="onValueChange($event)"
        >
        </slider-input>

        <info-screen
          *ngSwitchCase="'info'"
          [sections]="question.select_choices_or_calculations"
          [hasFieldLabel]="question.field_label.length > 0"
          [image]="question.field_annotation?.image"
          (valueChange)="onValueChange($event)"
          [currentlyShown]="currentlyShown"
        >
        </info-screen>

        <audio-input
          *ngSwitchCase="'audio'"
          [text]="question.field_label"
          [currentlyShown]="currentlyShown"
          (valueChange)="onValueChange($event)"
        >
        </audio-input>

        <timed-test
          *ngSwitchCase="'timed'"
          [heading]="question.field_label"
          [image]="question.field_annotation.image"
          [timer]="question.field_annotation.timer"
          [currentlyShown]="currentlyShown"
          (valueChange)="onValueChange($event)"
        >
        </timed-test>

        <text-input
          *ngSwitchCase="'text'"
          (valueChange)="onValueChange($event)"
          [type]="question.text_validation_type_or_show_slider_number"
        ></text-input>

        <radio-input
          *ngSwitchCase="'yesno'"
          [responses]="[
            { code: '1', label: 'Yes' },
            { code: '0', label: 'No' }
          ]"
          (valueChange)="onValueChange($event)"
        >
        </radio-input>
      </ng-container>
    </div>
  </div>
</div>
