question {
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
  }

  p {
    margin-top: 8px;
    margin-bottom: 0;
    color: $cl-light-80;
  }

  h2 {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .field-container {
    max-height: 50vh !important;
  }

  .rangeformat {
    height: 30vh;
  }

  .fade {
    opacity: 0.2;
    pointer-events: none;
  }

  .header {
    flex-grow: 0;
  }

  .input {
    flex-grow: 1;
    overflow: hidden;
    padding: 4px;
  }

  .input-scroll {
    overflow-y: auto !important;
  }

  ion-spinner * {
    margin-top: 16px;
    margin-left: -15px;
    padding-left: 10px;
    width: 10px;
    height: 30px;
    background-color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  .spinner-container {
    text-align: center;
  }
}
