ion-item {
  margin-bottom: 8px !important;
}

.input {
  padding-left: 0;
  width: 80vw;
  height: 40px;
  border-bottom: 2px solid var(--cl-border);
  color: var(--cl-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.35em;
  transition: border-color 0.2s ease;

  &:focus {
    border-bottom-color: var(--cl-primary);
  }
}
