<ng-container *ngIf="showDatePicker && currentlyShown">
<!--  <ion-item (click)="openDatePicker()" color="none">-->
<!--    <ion-input [(ngModel)]="selectedDate"> </ion-input>-->
<!--    <ion-icon name="calendar" slot="end"></ion-icon>-->
<!--  </ion-item>-->
  <ion-datetime-button color="primary" datetime="datetime" />

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime class="date" presentation="date" id="datetime" />
    </ng-template>
  </ion-modal>
</ng-container>

<ng-container *ngIf="showTimePicker && currentlyShown">
  <wheel-selector
    [values]="timePickerValues"
    [selection]="defaultTimePickerValue"
    [labels]="labels"
    (onSelect)="emitAnswer($event)"
  ></wheel-selector>
</ng-container>

<ng-container *ngIf="showDurationPicker && currentlyShown">
  <wheel-selector
    [values]="durationPickerValues"
    [selection]="defaultDurationPickerValue"
    [labels]="labels"
    (onSelect)="emitAnswer($event)"
  ></wheel-selector>
</ng-container>

<ng-container *ngIf="showTextInput && currentlyShown">
  <ion-item color="none" class="input">
    <ion-input
      type="text"
      enterkeyhint="next"
      placeholder="{{ 'PLACEHOLDER_TEXT_INPUT' | translate }}"
      [(ngModel)]="textValue"
      (ngModelChange)="emitAnswer($event)"
      (ionFocus)="emitKeyboardEvent('focus')"
      (ionBlur)="emitKeyboardEvent('blur')"
      (keyup)="emitKeyboardEvent($event.key)"
    ></ion-input>
  </ion-item>
</ng-container>
