@if (showDatePicker && currentlyShown) {
  <ion-datetime-button color="primary" datetime="datetime" />
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime class="date" presentation="date" id="datetime" />
    </ng-template>
  </ion-modal>
}

@if (showTimePicker && currentlyShown) {
  <app-wheel-selector
    [values]="timePickerValues"
    [selection]="defaultTimePickerValue"
    [labels]="labels"
    (onSelect)="emitAnswer($event)"
  ></app-wheel-selector>
}

@if (showDurationPicker && currentlyShown) {
  <app-wheel-selector
    [values]="durationPickerValues"
    [selection]="defaultDurationPickerValue"
    [labels]="labels"
    (onSelect)="emitAnswer($event)"
  ></app-wheel-selector>
}

@if (showTextInput && currentlyShown) {
  <ion-item color="none" class="input">
    <ion-input
      type="text"
      enterkeyhint="next"
      placeholder="{{ 'PLACEHOLDER_TEXT_INPUT' | translate }}"
      [(ngModel)]="textValue"
      (ngModelChange)="emitAnswer($event)"
      (ionFocus)="emitKeyboardEvent('focus')"
      (ionBlur)="emitKeyboardEvent('blur')"
      (keyup)="emitKeyboardEvent($event.key)"
    ></ion-input>
  </ion-item>
}
