<ion-list
  radio-group
>
  <ul>
    <li *ngFor="let item of items">
      <ion-item no-lines>
        <ion-radio
          [value]="item.value"
          [disabled]="!currentlyShown"
          [id]="item.id"
          (ionSelect)="onInputChange($event)"
        ></ion-radio>
        <ion-label [attr.for]="item.id">{{ item.value }}</ion-label>
      </ion-item>
    </li>
  </ul>
</ion-list>
<div class="padding">
  <div class="labelLeft">{{ labelLeft }}</div>
  <div class="labelRight">{{ labelRight }}</div>
</div>
