ion-label {
  color: white !important;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.item-md {
  display: flex;
  flex: 1 0 8px;
  align-content: stretch;
  margin: 0 -15px -12px;
}

ul li ion-radio {
  position: absolute;
}

ul li ion-label {
  color: var(--ion-font);
  font-size: 18px;
  line-height: 1.35em;
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: var(--bt-height);
  border: 2px solid white;
  border-right: none;
  background-color: var(--cl-primary-20);
}

ion-item {
  color: var(--ion-font);
  font-size: 18px;
  line-height: 1.35em;
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: var(--bt-height);
  border: 2px solid white;
  border-right: none;
  background-color: var(--cl-primary-20);
}

.item-radio-checked ion-label {
  background-color: var(--cl-primary) !important;
}

ion-radio:checked + ion-label {
  background-color: var(--ion-color-secondary);
}

ul li:first-child ion-label {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

ul li:last-child ion-label {
  border-right: 2px solid white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

ul li:hover ion-label {
  background-color: var(--ion-color-primary);
}

.padding {
  margin: 10px 3px;
  font-size: 80%;
}

.labelLeft {
  float: left;
  width: 50%;
}

.labelRight {
  float: right;
  width: 50%;
  text-align: right;
}

.radio-icon {
  display: none !important;
}
