<ion-list radio-group>
  <ul>
    <li *ngFor="let item of items" class="item-md">
      <ion-item no-lines>
        <ion-label [attr.for]="item.id" dir="auto">{{ item.value }}</ion-label>
        <ion-radio
          [value]="item.value"
          [id]="item.id"
          (ionSelect)="onInputChange(item.value)"
        ></ion-radio>
      </ion-item>
    </li>
  </ul>
</ion-list>
<div class="padding">
  <div class="labelLeft">{{ labelLeft }}</div>
  <div class="labelRight">{{ labelRight }}</div>
</div>
