page-enrolment {

  color: $cl-light;

  #logo {
    width: 120px;
  }

  #logo-container {
    width: 120px;
    margin: auto;
    padding-bottom: 3vh;
  }

  .text {
    width: 90vw;
    margin: auto;
  }

  .text-justify {
    text-align: justify;
  }

  .text-lg {
    font-size: 40px;
    margin-bottom: 2vh;
  }

  .padding {
    margin-top: 3vh;
  }

  .extra-padding {
    margin-top: 8vh;
  }

  #status {
    display: flex;
    width: 100%;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  #loading {
    flex: 1 0 100%;
    height: 34px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  #outcome {
    flex: 1 0 100%;
    height: 34px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .padding-text {
    padding-top: 5px
  }

  .qr-code {
    width: 170px;
    margin: auto;
    padding-top: 3vh;
  }

  .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  ion-item.item {
    background-color: $cl-primary-40;
    margin-bottom: $item-separation-distance;
  }
  ion-item.item:last-child {
    margin-bottom: 0
  }
  ion-item-divider.item-divider {
    background-color: $cl-primary-10;
    font-size: 2rem;
    color: $cl-font-light;
  }

  .pos-above {
    margin-top: -50px;
  }

  .pref-info {
    padding-bottom: 100px;
  }

  #settings {
    padding: 2vh 0;
    margin-bottom: 5vh;
  }

  .pref-icon {
    margin: 2vh 0 2vh 0;
    height: 20vh;
  }


}
