<ion-content>
  <div *ngIf="!loading">
  <ion-slides pager direction="horizontal" style="height: 80%;">
    <ion-slide id="intro">
      <div id="logo-container">
        <img
            id="logo"
            src="assets/imgs/new-logo.png"
            alias="UCL LOGO"
        >
      </div>
      <div class="text">
        <div class="text-lg">{{ "ENROL_WELCOME_1" | translate }} {{ "ENROL_WELCOME_2" |
          translate }}
        </div>
        <div class="text-md" style="font-size: 25px">
          {{ "ENROLE_STUDY_DESCRIPTION" | translate }}
        </div>
        <div class="padding text-justify extra-padding">
          <ion-item no-lines>
            <span class="info-value">{{ language.label | translate }}</span>
            <span
                item-right
                (click)="showSelectLanguage()"
            >
              <ion-icon
                  class="space-right"
                  name="arrow-dropdown"
              ></ion-icon>
              {{ "BTN_SELECT" | translate }}
            </span>
          </ion-item>
        </div>
      </div>
    </ion-slide>

    <ion-slide id="about">

      <div class="text-md">{{ "ENROL_ABOUT_HEADING" | translate }}</div>

      <ion-scroll
          scrollY="true"
          style="height:550px"
      >
        <div padding class="text text-justify">
          <div class="text-sm"> {{ "ABOUT_STUDY_1" | translate }}</div>
          <br/>
          <div class="text-sm"> {{ "ABOUT_STUDY_2" | translate }}</div>

          <div class="text-ques"> {{ "ABOUT_HOW_THIS_STUDY_WORKS_Q" | translate }}</div>

          <div class="text-sm"> {{ "ABOUT_HOW_THIS_STUDY_WORKS_ANS" | translate }}</div>

          <div class="text-ques"> {{ "ABOUT_WHO_IS_RUNNING_THIS_STUDY_Q" | translate }}</div>

          <div class="text-sm"> {{ "ABOUT_WHO_IS_RUNNING_THIS_STUDY_ANS" | translate }}</div>

        </div>
      </ion-scroll>
    </ion-slide>
  </ion-slides>

  <div
      padding
      class="bottom"
  >
    <button
        ion-button
        class="bt bt--full"
        round
        full
        (click)="joinStudy()"
    >
      Join Study
    </button>
    <button
        ion-button
        class="bt bt--full"
        round
        full
        (click)="goToLogin()"
    >
      Already participating
    </button>
  </div>
  </div>

  <ion-slides *ngIf="loading" direction="horizontal">

    <ion-slide padding id="loadingSlide">
      <div class="position-center">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <div class="status-center">{{  "STATUS_LOADING" | translate  }}</div>
      <div class="status">
        <div id="outcome" *ngIf="showOutcomeStatus">
          {{ outcomeStatus }}
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
