<ion-content>
  <div *ngIf="!loading">
  <ion-slides pager direction="horizontal" style="height: 80%;">
    <ion-slide id="intro">
      <div id="logo-container">
        <img
            id="logo"
            src="assets/imgs/home-app.png"
            alias="UCL LOGO"
        >
      </div>
      <div class="text">
        <div class="text-lg">{{ "ENROL_WELCOME_1" | translate }} <br>{{ "ENROL_WELCOME_2" |
          translate }}
        </div>
        <div class="text-md" style="font-size: 20px">
          {{ "ENROLE_STUDY_DESCRIPTION" | translate }}
        </div>
      </div>
    </ion-slide>

    <ion-slide id="aboutStudy" margin-bottom="10px">
<!--      <ion-item>-->
<!--        <ion-icon md="md-arrow-back" item-start (click)="goBack()"></ion-icon>-->
<!--      </ion-item>-->

      <ion-scroll
        scrollY="true"
        class="scroll-page"
      >
        <div >

          <div >
            <iframe id="introframe"
                    src="https://player.vimeo.com/video/376190254?api=1&player_id=player1&background=1"
                    frameborder="0" allowfullscreen
            ></iframe>
          </div>

          <div class="text-md">{{ "ENROL_ABOUT_HEADING" | translate }}</div>
        </div>

        <div>
<!--          <div>-->
<!--            <div class="text-md">{{ "ENROL_PURPOSE_OF_THE_STUDY" | translate }}</div>-->
<!--          </div>-->

          <div
            padding
            class="text-paragraph">

            1 in 7 people in the UK are international migrants. International migrants in the UK are people who were born abroad but who have settled in the UK.<br>
            <br>
            Right now we do not know enough about the health of international migrants like you. We also do not know enough about how your health changes after living in the UK for some time.<br>
            <br>
            We hope that “The​ Health on the MovE (HOME) ​Study” will help us understand this better.<br>
            <br>
            The HOME study is a smartphone app study. Through the app we will be asking you questions about your health. We will be asking some questions about your physical, mental and sexual health. In this way we hope to better understand your health, wellbeing and experiences living in the UK.<br>
            <br>
            The data we collect will then be used to improve the health of international migrants like you. For example, it will help us understand how things like the National Health Service (NHS) can be better designed to meet the needs of migrants.<br>
            <br>
            The data will also be used to develop programs in the migrant community to improve healthcare access or to prevent disease, for example.<br>
            <br>
            But we first need to test the smartphone HOME app in a smaller group before we use it in a much larger group. This smaller study is called a pilot study. We would like you to participate in this pilot study. Our goals in this HOME pilot study are:<br>
            <br>
            &nbsp; 1. To find out if we can make the HOME app work in the best possible way. To do this we will try different times of the day during which we send the questionnaires out. We will also test different ways we notify you about these questionnaires.<br>
            <br>
            &nbsp; 2. We will study your responses to the questionnaires so that we can begin to understand how you compare to
            other international migrants, and also how your health changes over time since you moved to the UK.<br>
            <br>
            This study was approved by the UCL ethics committee (reference number: 13571/003).<br>

          </div>
        </div>
      </ion-scroll>

<!--      <div-->
<!--        padding-->
<!--        class="bottom"-->
<!--      >-->
<!--        <button-->
<!--          ion-button-->
<!--          class="bt bt&#45;&#45;full"-->
<!--          round-->
<!--          full-->
<!--          (tap)="showReadMoreText()"-->
<!--        >-->
<!--          Read More-->
<!--        </button>-->
<!--      </div>-->
    </ion-slide>

<!--    <ion-slide id="info" *ngIf="showReadMoreInformation">-->
<!--      <ion-item>-->
<!--        <ion-icon md="md-arrow-back" item-start (click)="showAboutStudyPage()"></ion-icon>-->
<!--      </ion-item>-->

<!--      <ion-scroll-->
<!--        scrollY="true"-->
<!--        style="height:550px"-->
<!--      >-->

<!--      </ion-scroll>-->
<!--    </ion-slide>-->
  </ion-slides>

  <div
      padding
      class="bottom"
  >
    <button
        ion-button
        class="bt bt--full"
        round
        full
        (tap)="joinStudy()"
    >
      Join Study
    </button>
    <button
        ion-button
        class="bt bt--full"
        round
        full
        (tap)="goToLogin()"
    >
      Already participating
    </button>
  </div>
  </div>

  <ion-slides *ngIf="loading" direction="horizontal">

    <ion-slide padding id="loadingSlide">
      <div class="position-center">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <div class="status-center">{{  "STATUS_LOADING" | translate  }}</div>
      <div class="status">
        <div id="outcome" *ngIf="showOutcomeStatus">
          {{ outcomeStatus }}
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
