page-welcome {

  color: white;

  #logo {
    width: 200px;
  }

  #logo-container {
    margin: auto;
    padding-bottom: 3vh;
    width: 200px;
  }

  .text {
    margin: auto;
    width: 90vw;
  }

  .text-justify {
    text-align: justify;
  }

  .text-lg {
    margin-bottom: 2vh;
    font-size: 40px;
  }

  .text-md {
    margin-bottom: 2vh;
    font-size: 30px;
  }

  .padding {
    margin-top: 3vh;
    padding-bottom: 3px;
  }

  .extra-padding {
    margin-top: 8vh;

  }

  #status {
    display: flex;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
  }

  #loading {
    flex: 1 0 100%;
    height: 34px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  #outcome {
    flex: 1 0 100%;
    height: auto;
    background-color: $cl-danger-40;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .padding-text {
    padding-top: 5px;
  }

  .qr-code {
    margin: auto;
    padding-top: 3vh;
    width: 170px;
  }

  .bottom {
    position: fixed;
    bottom: 10px;
    width: 100%;
  }

  ion-item.item {
    margin-bottom: $item-separation-distance;
    background-color: $cl-primary-40;
  }

  ion-item.item:last-child {
    margin-bottom: 0;
  }

  ion-item-divider.item-divider {
    background-color: $cl-primary-10;
    color: $cl-font-light;
    font-size: 2rem;
  }

  ion-slide.swiper-slide {
    align-items: flex-start;
    padding-top: 50px;
  }
  .pos-above {
    margin-top: -50px;
  }

  .pref-info {
    padding-bottom: 100px;
  }

  #settings {
    margin-bottom: 5vh;
    padding: 2vh 0;
  }

  .pref-icon {
    margin: 2vh 0;
    height: 20vh;
  }

  .token-input {
    margin: 24px auto;
    width: 320px;
    border-bottom: 1px solid white;
  }

  .scroll-content {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  li {
    padding-bottom:10px;
    list-style-type: decimal;
    list-style-position: outside;
  }
}
