ticker-bar {
  #ticker-bar-container {
    display: flex;
    padding: 7px 0;
    background-color: $cl-primary-40;
    text-align: center;
    font-size: 18px;
  }

  #report {
    color: map_get($colors, warning);
  }

  .ticker-item {
    flex: 1 0 100vw;
    transition: transform 0.8s ease-in-out;
  }

  .bold {
    font-weight: bold;
  }
}
