info-screen {
  display: block;
  width: 100%;

  .info-card {
    position: fixed;
    margin: 8px;
    margin-right: 16px;
    padding: 10px 10px 0;
    width: 88%;
    height: calc(100vh - 184px);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: $cl-primary-20;
  }

  ion-content {
    background: none;
    mask-image:
      -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0.25))
      );
  }

  .items {
    padding-bottom: 32%;
  }

  .info-card-sm {
    height: calc(94vh - 184px);
  }

  .info-heading {
    color: $cl-light-60;
  }

  .info-content {
    margin-bottom: 64%;
  }

  .icon-thincIt {
    margin-top: 15px;
    margin-left: 35%;
    width: 30%;
  }

  .icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 8px;
  }

  ion-icon {
    color: $cl-light-40;
    font-size: 40px;
  }
}
