<div
  class="info-card"
  [class.info-card-sm]="hasFieldLabel"
>
  <ion-content (ionScroll)="onScroll($event)">
    <div *ngIf="isThincItReminder">
      <img
        src="assets/imgs/thincIt_app_icon.png"
        class="icon-thincIt"
      >
    </div>
    <div class="items">
      <div *ngFor="let item of items">
        <p class="info-heading">{{ item.heading }}</p>
        <div class="info-content">
          <h2>{{ item.content }}</h2>
        </div>
      </div>
    </div>
  </ion-content>
  <span
    *ngIf="showScrollButton"
    (tap)="scrollDown()"
    class="icon"
  >
    <ion-icon name="arrow-dropdown-circle"></ion-icon>
  </span>
</div>
