<div class="info-card">
  <div class="content" #content scrollY="true" (scroll)="onScroll($event)">
    <div class="image-container">
      <img *ngIf="image" src="{{ image }}" class="image" alt="info-screen" />
    </div>
    <div class="items">
      <div *ngFor="let item of items">
        <p class="info-heading" dir="auto">{{ item.heading }}</p>
        <div class="info-content">
          <h2 dir="auto">{{ item.content }}</h2>
        </div>
      </div>
    </div>
  </div>
  <span *ngIf="showScrollButton" (tap)="scrollDown()" class="icon">
    <ion-icon name="arrow-dropdown-circle"></ion-icon>
  </span>
</div>
