info-screen {
  overflow: hidden;

  .info-card {
    padding: 10px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: $cl-primary-20;
  }

  ion-content {
    background: none;
    mask-image:
      -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0.25))
      );
  }
  .items {
    padding-bottom: 32%;
  }

  .info-heading {
    color: $cl-light-60;
  }

  .info-content {
    margin-bottom: 48%;
  }

  .icon-thincIt {
    margin-top: 15px;
    margin-left: 35%;
    width: 30%;
  }

  .icon {
    position: relative;
    float: right;
    margin: -24px 8px;
    width: inherit;
    text-align: right;
  }

  ion-icon {
    color: $cl-light-40;
    font-size: 40px;
  }
}
