page-finish {
  ion-item.item {
    margin-bottom: $item-separation-distance;
    background-color: $cl-primary-40;
  }

  ion-item.item:last-child {
    margin-bottom: 0;
  }

  .pos-bottom-90 {
    padding-bottom: 90px;
  }

  .next-task-highlight {
    background-color: $cl-warning-20;
  }

  ion-spinner * {
    margin-left: -15px;
    padding-left: 10px;
    width: 10px;
    height: 30px;
    background-color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  .spinner-center {
    margin-left: 50%;
  }

  .extra-info {
    text-align: center;
    text-transform: uppercase;
    font-size: 2vh;
  }

  .extra-info-icon {
    height: 1.5vh;
  }
}
