<ion-content>
  <img
    class="icons-big"
    src="assets/imgs/checkmark-big.svg"
    alt="Completed"
  >
  <h2 text-center>{{ content ? content : "FINISH_THANKS" | translate  }}</h2>
  <ion-item-group class="pos-bottom pos-bottom-90">
    <div
      *ngIf="displayNextTaskReminder"
      class="next-task-highlight"
    >
      <h2>
        {{ "FINISH_NEXT_TASK_REMINDER" | translate }}
      </h2>
    </div>
    <ion-item
      no-lines
      *ngIf="isClinicalTask"
    >
      <ion-label>
        {{ "FINISH_COMPLETED_IN_CLINIC" | translate }}
      </ion-label>
      <ion-toggle
        item-right
        [(ngModel)]="completedInClinic"
      ></ion-toggle>
    </ion-item>
  </ion-item-group>
  <div
    class="pos-bottom"
    padding
  >
    <button
      ion-button
      class="bt bt--full"
      round
      full
      *ngIf="showDoneButton"
      (tap)="handleClosePage()"
    >
      {{ "BTN_DONE" | translate }}
    </button>
    <ng-container *ngIf="!showDoneButton">
      <div class="extra-info">
        <img
          class="extra-info-icon"
          src="assets/imgs/warning.png"
        >
        {{ "WARNING_DO_NOT_CLOSE_APP" | translate }}
      </div>
      <div class="spinner-center">
        <ion-spinner name="dots"></ion-spinner>
      </div>
    </ng-container>
  </div>
</ion-content>
