info-screen {
  display: block;
  width: 100%;

  .info-card {
    margin: 8px;
    padding: 10px 10px 0;
    height: 80%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: $cl-primary-20;
  }

  .info-heading {
    color: $cl-light-60;
  }

  .info-content {
    height: 80%;
  }

  .icon-thincIt {
    margin-top: 15px;
    margin-left: 35%;
    width: 30%;
  }
}
