# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events
  push:
    branches: [master, dev]
  pull_request:
    branches: [master, dev]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Build and test the code
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2.0.0
        with:
          # Cache gradle directories
          path: |
            ~/.gradle/caches
            ~/.gradle/native
            ~/.gradle/wrapper
          # Key for restoring and saving the cache
          key: ${{ runner.os }}-gradle

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '13'

      - name: Set up Ruby 2.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6 # Not needed with a .ruby-version file
          bundler-cache: true

      - name: Copy aRMT secrets
        run: 'echo "$SECRET" > src/assets/data/secret.ts'
        shell: bash
        env:
          SECRET: ${{secrets.SECRET_TS}}

      - name: Copy Google-Services.json
        run: 'echo "$SECRET" > google-services.json'
        shell: bash
        env:
          SECRET: ${{secrets.GOOGLE_SERVICES_ANDROID}}

      - name: Install Ionic and Cordova
        run: npm i -g ionic cordova

      - name: Install Yarn
        run: npm i -g yarn

      - name: Install app dependencies
        run: yarn install

      - name: Run unit tests
        run: yarn run test

      - name: Add Android platform
        run: ionic cordova platform add android && rm package-lock.json

      - name: Prepare Android app
        run: |
          cordova prepare android && \
          yarn install

      - name: Build Android app
        uses: maierj/fastlane-action@v2.0.1
        with:
          lane: 'android build_debug'
