page-settings {
  ion-header .toolbar-background {
    background-color: $cl-secondary;
  }

  .toolbar-title {
    color: $cl-font;
  }

  .bar-button {
    color: $cl-font;
  }

  ion-footer .toolbar-background {
    background-color: $cl-danger-60;
  }

  ion-buttons {
    margin: 8px 16px;
  }

  .bt--full {
    width: 100%;
  }

  .bt--full:active {
    background-color: $cl-primary-80;
  }

  .info-value {
    font-weight: bold;
  }

  .space-right {
    padding-right: 0.3em;
  }

  ion-item.item {
    margin-bottom: $item-separation-distance;
    background-color: $cl-primary-40;
  }

  ion-item.item:last-child {
    margin-bottom: 0;
  }

  ion-item-divider.item-divider {
    background-color: $cl-primary-10;
    color: $cl-font-light;
    font-size: 2rem;
  }

  ion-spinner * {
    padding-left: 8px;
    width: 8px;
    height: 28px;
    background-color: #fff;
    fill: #fff;
    stroke: #fff;
  }
}
