finish {
  ion-item.item {
    margin-bottom: $item-separation-distance;
    background-color: $cl-primary-40;
  }

  ion-item.item:last-child {
    margin-bottom: 0;
  }

  .pos-bottom-90 {
    padding-bottom: 32px;
  }

  .done-button {
    padding: 0 24px;
  }

  .next-task-highlight {
    background-color: $cl-warning-20;
  }

  ion-spinner * {
    padding-left: 10px;
    width: 10px;
    height: 30px;
    background-color: #fff;
    fill: #fff;
    stroke: #fff;
  }

  .extra-info {
    text-align: center;
    text-transform: uppercase;
    font-size: 2vh;
  }

  .extra-info-icon {
    height: 1.5vh;
  }

  .pos-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
