<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>NSPrivacyTracking</key>
    <false/>
    <key>NSPrivacyAccessedAPITypes</key>
    <array>

      <!-- Keep Awake Plugin (Screen Control) -->
      <!-- MLKit Barcode Scanning Plugin (Camera Access) -->
      <!-- Device Plugin -->
      <!-- Filesystem Plugin -->
      <!-- SQLite Plugin (cordova-sqlite-storage) -->
      <dict>
        <key>NSPrivacyAccessedAPIType</key>
        <string>NSPrivacyAccessedAPICategoryDiskSpace</string>
        <key>NSPrivacyAccessedAPITypeReasons</key>
        <array>
          <string>E174.1</string>
        </array>
      </dict>

      <!-- Firebase Plugins (Analytics, Messaging, Remote Config) -->
      <dict>
        <key>NSPrivacyAccessedAPIType</key>
        <string>NSPrivacyAccessedAPICategoryUserDefaults</string>
        <key>NSPrivacyAccessedAPITypeReasons</key>
        <array>
          <string>CA92.1</string>
        </array>
      </dict>

    </array>

    <key>NSPrivacyTrackingDomains</key>
    <array/>
  </dict>
</plist>
