ticker-bar {
  padding-bottom: 2px;

  #ticker-bar-container {
    background-color: $cl-primary-40;
    padding: 7px 0;
    font-size: 18px;
    text-align: center;
    display: flex;
  }

  .ticker-item {
    flex: 1 0 100vw;
    transition: transform 0.8s ease-in-out;
  }

  .bold {
    font-weight: bold;
  }
}
